[2018-09-06 23:48] vvedula22 opened #3 "Compile errors using open-mpi"
Following error occurs when svFSI is compiled using open-mpi. No such errors when using mpich.

**<>/Code/Source/svFSI/COMU.f
       ftag = MOD(ftag + from, MPI_TAG_UB)
                              1
Error: Argument 'P' of MOD at (1) shall not be zero**

[2019-08-02 22:39] #3 closed

[2019-09-05 01:57] vvedula22 opened #9 "CMake fails to find Fortran, MPI_Fortran, BLAS on Clusters"
This is a weird behavior that happens when compiling svFSI on clusters. While CMake finds MPI_C and MPI_CXX correctly, MPI_Fortran and thereby, MPI are very sensitive to module environment. Likewise, FindBLAS fails to find Intel MKL and LAPACK/ScaLAPACK packages very often.

While the user can explicitly provide paths to C and CXX compilers during configuration, such options for Fortran and BLAS a

[2019-09-11 03:59] updega2 commented on #9
Hey Vijay, it sounds like a lot of these issues are due to the find_package command used by CMake. It is CMake's way of finding external packages. If it cannot find the package in a default location, it will complain. You can then specify the location of these packages with the provided CMake variables. Are you providing the locations of BLAS and LAPACK after CMake complains about them?

[2020-06-19 17:33] tshidhore opened #7 "Zero normal displacement BC implementation in svFSI"
**Is your feature request related to a problem? Please describe.**
For my patient-specific FSI simulations, I wish to specify zero normal displacement at the end caps of the geometry.

**Describe the solution you'd like**
A checkbox/flag option within the GUI to automatically implement the boundary condition along the face normal

**Describe alternatives you've considered**
Ability of svFSI to acc

[2020-07-13 11:22] tshidhore opened #8 "Womersley profile for inlet velocity"
**Is your feature request related to a problem? Please describe.**
For my patient-specific FSI and flow simulations, I wish to specify a Womersley inlet flow profile.

**Describe the solution you'd like**
Ability of svFSI to accept Womersley inlet flow profile.

[2020-07-24 00:53] vvedula22 commented on #7
Extended Robin BC to be able to handle normal direction (commit 464a6e2f4eb4eedd482952b242006d92c5fa2b5a). This represents a weak treatment of zero-normal displacement that depends on the spring constant and damping constant, which could be problem dependent.

I am closing this issue as it was demonstrated to be working.

[2020-07-24 00:53] #7 closed, assigned to nobody

[2020-11-09 20:42] ktbolt opened #16 "Define XML format for solver input file"
XML provides a nice format for organizing data within a file using custom tags. We would like to explore using XML for the solver input file.

[2020-11-10 04:59] ktbolt commented on #16
I've come up with a prototype XML format
[code]
I'm not quite sure about how the original format works and what some of the types should be: e.g. is Equation.coupled a Boolean or an int?

I'm parsing the XML file using **tinyxml2**, created some C++ classes to extract parameter values and store them in objects
[code]

[2020-11-10 13:59] vvedula22 commented on #16
XML idea is good. At what stage do you plan to include this in code? If before doing the svFSI++ conversion, then we may have to create a Fortran interface to copy XML data into listType (LIST.f). If you choose to include this directly in the svFSI++ code, we can read from XML data while converting READFILES.f and its dependencies including LOADMSH.f, LOADNRB.f, and READMSH.f.

Equation.coupled is

[2020-11-11 23:35] ktbolt commented on #16
@vvedula22 The plan is to implement the XML reader in the svFSI++ code. It makes sense to convert the Fortran code that reads in the mesh.

[2021-01-11 21:06] ktbolt opened #19 "Implement svFSI using C++"
While Fortran is still used for scientific and engineering problems we feel that it would be better to implement the FSI solver using C++ to provide a more extensible framework (e.g. plugins for custom BCs) and better capabilities for text file processing (e.g. XML).

Although Fortran is easier to learn than C++ and has nice array support most students don't have any experience programming in Fort

[2021-01-22 06:10] ktbolt commented on #19
I've written some Fortran code to prototype ways to interface the svFSI Fortran code to a c++ framework.

I've implemented a Fortran `simulation_interface` module as an interface to the c++ `Simulation` class used to read an FSI XML file and VTK mesh files.

The code below shows how to use the `simulation_interface` module to create a `Simulation` object, use it to read in an svFSI XML input param

[2021-03-09 23:29] ktbolt commented on #19
I've integrated the C++ prototype code into svFSI, creating a C++ `Simulation` object and read in a solver XML file
[code]

I've also added a `compare_cpp_fortran` module used to compare Fortran and C++ data.

[2021-03-12 06:32] ktbolt opened #23 "The code does not build using gcc 10."
I pulled down the latest master branch and tried to build on MacOS 10.13.6 using using gcc 10.

I get lots of compile errors like
[code]
A workaround is setting the `-std=legacy` compiler flag.

[2021-03-12 10:34] vvedula22 commented on #23
The issue seems related to the fact that the Fortran compiler in gcc version 10.x has become stricter: some warnings have turned out into errors. Could you try adding the option "-fallow-argument-mismatch" to the Fortran compiler options?

[2021-03-12 19:12] ktbolt commented on #23
@vvedula22 `-fallow-argument-mismatch` is implied by `-std=legacy`, the code now compiles.

[2021-03-13 11:53] vvedula22 commented on #23
I am having another error with gcc-10 on Expanse cluster with CentOS 8 and openmpi/mvapich2:

/home/vedula/sw/svFSI/src/Code/Source/svFSI/COMU.f:252:21:
  252 |       CALL MPI_ABORT(cm, MPI_ERR_OTHER, ierr)
      |                     1
Error: Explicit interface required for polymorphic argument at (1)

Have you come across this before? Compiles fine with gcc-9.2.0.

[2021-03-15 20:48] ktbolt commented on #23
I see the same error on MacOS, replaced `CALL MPI_ABORT(cm, MPI_ERR_OTHER, ierr)` with
[code]
and the code compiled fine.

[2021-03-17 09:46] vvedula22 commented on #23
Thanks. Now the code compiles fine on Mac or Clusters with newer gcc.
Included these changes in a new commit and closing this issue.

[2021-03-17 09:46] #23 closed, assigned to ktbolt

[2021-05-20 20:26] ktbolt opened #29 "Computing average quantities fails"
When computing average results I set `Save averaged results: t`. At the end of the simulation I get the following error

[code]

Tested using the `01-Pipe_Flow` example.

[2021-05-22 10:49] vvedula22 commented on #29
I tested this and reproduced this bug. The bug has to do with associating an equation symbol with the variable name. This has been removed a while ago while writing vtu files but wasn't reflected in another subroutine READVTUS where the solution files are read to compute nodal averages.

Fixed this bug in a new commit and will shortly create a pull request.

[2021-05-22 10:49] #29 closed, assigned to nobody

[2021-06-14 17:40] mrp089 opened #32 "Add equilibrated constrained mixture model"
The model is defined here:

https://doi.org/10.1002/zamm.201700302
https://doi.org/10.1371/journal.pcbi.1008273

I will adapt Marcos's FEBio implementation to svFSI.

[2021-06-15 00:35] mrp089 commented on #32
@vvedula22 Is there a way to pass the current time and spatial position in `MATMODELS.f` to my material evaluation?

[2021-06-15 00:47] mrp089 opened #33 "Add tensor calculus"
Part of #32. Growth and remodeling (G&R) models need a lot of "advanced tensor calculus" functions for 1st-, 2nd- and 4th-order tensors.

Since the basis of the new equilibrated constrained mixture G&R is based on a C++ FEBio implementation, it would be easy to adapt their functions: https://github.com/febiosoftware/FEBio/tree/master/FECore

The files needed are:
[code]

My plan is to add a folder

[2021-06-15 09:59] vvedula22 commented on #32
Try using this [code](https://github.com/vvedula22/svFSI/blob/tissueDamage/Code/Source/svFSI/MATMODELS.f) as an example for passing the location of the integration point to `MATMODELS.f`. You can backtrace to see how the integration point is evaluated and passed to the stress subroutine. The global variable `time` is accessible through the module `COMMOD` which is already included in these subrout

[2021-06-15 18:51] mrp089 commented on #32
Thanks, @vvedula22!

[2021-06-16 22:46] #33 closed, assigned to nobody

[2021-07-08 00:30] mrp089 opened #36 "svFSI crashes when post-processing"
I'm trying to run a simple [tube inflation example](https://github.com/SimVascular/svFSI/files/6780683/03-GR.zip). The geometry is taken from https://github.com/SimVascular/svFSI-Tests/tree/master/07-fsi/ale/03-pipe_3D/mesh/wall Since I'm just taking my first steps in `svFSI`, this might be a trivial issue.

It looks like the simulation runs fine, but crashes when post-processing stresses (see bel

[2021-07-08 10:35] vvedula22 commented on #36
I ran your case in both serial and parallel runs using 4 processes. But I couldn't reproduce the issue. A vtu file was written and the simulation termination was clean.

![screen-output_1-procs](https://user-images.githubusercontent.com/17485535/124907754-872f5480-dfb6-11eb-9b00-a8eb76948c66.png)

![screen-output_4-procs](https://user-images.githubusercontent.com/17485535/124907783-8f878f80-dfb6-1

[2021-07-13 16:55] mrp089 commented on #32
I need two different fiber orientations that are defined on the mesh.

I found an example to define a constant fiber direction, e.g. in https://github.com/SimVascular/svFSI-Tests/blob/master/05-struct/02-LV-Guccione-passive/Q1_svFSI.inp:
[code]

I also found code to read mesh fibers (defined on each node/element?):
https://github.com/SimVascular/svFSI/blob/8f4865a76dd20644f4c8701fd72f88a5c909c865/

[2021-07-13 18:37] mrp089 commented on #36
Thanks for your help, @vvedula22! Turns out I caused this by providing the Gauss point coordinates to `GETPK2CC`. Closing...

[2021-07-13 18:37] #36 closed, assigned to nobody

[2021-07-14 02:56] mrp089 opened #37 "Ramp function with three time steps"
I want to ramp a BC linearly between `>2` given time points, e.g.,
[code]
so that `p(t=0.5) = 0.5` and `p(t=1.5) = 6.0`.

Currently, for unsteady BCs, we have two options:
- `Temporal values file path` (**fluid**): do a periodic Fourier interpolation
https://github.com/SimVascular/svFSI/blob/8f4865a76dd20644f4c8701fd72f88a5c909c865/svFSI_master.inp#L830-L833
- `Ramp function` (**solid**): linearly

[2021-07-14 03:07] mrp089 opened #38 "Store variables at Gauss point in each time step"
For G&R in #32 I need to store a couple of internal "history" variables (scalars and arrays) **on each Gauss point** and retrieve/update them in each time step. In C++ I would do this with class variables of a material subroutine instance.

I can store those variables within `GETPK2CC` in `MATMODELS.f` but that means they're initialized in every time step and not stored. @ktbolt @vvedula22 Do you

[2021-07-14 05:01] ktbolt commented on #38
@mrp089 I think you will need to add your state variables to the `COMMOD` module defined in`MOD.f`. The `COMMOD` module is basically a container for global variables.

[2021-07-14 08:26] vvedula22 commented on #32
@mrp089 You can load fiber directions stored at element level from a vtu file as described here
[svFSI_master.inp](https://github.com/SimVascular/svFSI/blob/master/svFSI_master.inp#L318-L323)

[code]

Note that the fiber directions are loaded within `Add msh` block in the input file. Here is an example:

https://github.com/SimVascular/svFSI-Tests/blob/master/06-ustruct/03-LV-Guccione-active/svFSI.

[2021-07-14 08:37] vvedula22 commented on #37
@mrp089 No, we don't have a way to provide two ramps for the same BC.  Ramp is only provided between first two time points and thereafter, the value remains constant. The format for the unsteady BC file would then be,

[code]

If you really have to provide two ramps, you may do so by adding another unsteady BC and split the load between the two BCs such as,

BC 1:
[code]

BC 2:
[code]
As the load

[2021-07-14 09:05] vvedula22 commented on #38
@mrp089 I did something similar for modeling soft tissue damage. As @ktbolt mentioned, you have to use modules in Fortran to access variables across subroutines and functions. For the damage model,

- I defined a global damage model as,
[CONSTS.f](https://github.com/vvedula22/svFSI/blob/tissueDamage/Code/Source/svFSI/CONSTS.f#L191-L194)

- Parameters read from input file are stored in `TYPE stMode

[2021-07-14 21:54] mrp089 commented on #38
Awesome!! That was very helpful @ktbolt and @vvedula22!

[2021-07-14 21:54] #38 closed, assigned to nobody

[2021-07-15 21:01] mrp089 commented on #37
Thanks, @vvedula22! I think that workaround is okay for now

[2021-07-15 21:01] #37 closed, assigned to nobody

[2021-07-15 21:07] mrp089 opened #39 "Problems with only minor symmetry stiffness matrix?"
Part of #32. Our G&R model creates a tangential stiffness matrix that only has minor and no major symmetries. It thus has `36` unique entries (instead of `21` with major symmetries). I extended `CCTOVOIGT` to handle that in https://github.com/mrp089/svFSI/commit/5796f6e9b95ba0d597876ea514e048bb960f258d.

@vvedula22 Are you aware of any other places where `svFSI` might assume a stiffness matrix wit

[2021-07-15 21:57] vvedula22 commented on #39
@mrp089 I don't recall all instances. Do a simple `grep -i cctovoigt' in the folder to search for all function calls and add the extra logical argument to them.

[2021-07-15 22:12] mrp089 commented on #39
It looks like there are no other uses of `CCTOVOIGT`. I was wondering if we make any assumptions **after** the stiffness tensor has been converted to a `6x6` matrix.

[2021-07-16 00:34] vvedula22 commented on #39
Yes, the matrix is a `6x6` assuming major and minor symmetries. Lack of major symmetry is not a major problem but lack of minor symmetry can pose issues. I am attaching a couple of snapshots of how the material stiffness tensor is assembled to the virtual work equation

![Screenshot from 2021-07-15 20-28-09](https://user-images.githubusercontent.com/17485535/125874224-477f0931-8ed1-43af-b905-372b2

[2021-07-16 00:42] mrp089 commented on #39
Thanks for the overview!

Our `Dm` still has minor symmetries, i.e. `36` unique entries. I wrote code in https://github.com/mrp089/svFSI/commit/5796f6e9b95ba0d597876ea514e048bb960f258d to assemble the lower triangle into ``Dm`` (instead of copying it from the upper triangle as with major symmetry). So as far as `Dm` is concerned, it always supported minor-symmetry-only problems due to its `6x6` di

[2021-07-16 01:00] vvedula22 commented on #39
**Dm** is used to assemble the local stiffness matrix in `STRUCT.f` and `USTRUCT.`.  We also use it in `IB.f` and `POST.f` but those shouldn't be a concern for you now. There is no other place where you make any assumption on the structure of the matrix.

From my previous comment, once you assemble the full `6x6` Dm matrix, you need to check the expressions for **Bt** **D** **B** in the following

[2021-07-16 01:08] vvedula22 commented on #39
I looked at your commit  [mrp089@5796f6e](https://github.com/mrp089/svFSI/commit/5796f6e9b95ba0d597876ea514e048bb960f258d) and it appears that the 3D assembly for **Dm** is correct. However, the 2D one looks incorrect to me. It should be,
[code]
Please verify.

[2021-07-16 17:15] mrp089 commented on #39
Thanks for checking @vvedula22, you're absolutely correct! And thank you for pointing out the lines for the multiplications. I'll check if they generalize for a full `Dm`.

[2021-07-16 17:29] mrp089 opened #40 "Quadratic meshes in svFSI"
There are some examples of quadratic meshes, e.g. https://github.com/SimVascular/svFSI-Tests/tree/master/05-struct/01-block-compression/mesh/P2/N008/mesh-surfaces

In my current workflow, I take a `.vtu` mesh and extract the surfaces with the `vtkDataSetSurfaceFilter`. Unfortunately, it can't handle quadratic meshes and automatically triangulates the mesh to yield linear elements.

@ktbolt @vvedul

[2021-07-16 18:18] vvedula22 commented on #40
I wrote a [Fortran-based code](https://github.com/vvedula22/useful_codes/tree/master/gambitToVTK) to generate higher-order meshes. There are some examples in there that you may follow. The code was originally written to convert Gambit mesh in .neu (neutral file) format into SimVascular compatible vtu/vtp system. Later I extended it to higher-order meshes. The code reads a txt file that describes p

[2021-07-16 18:19] vvedula22 commented on #40
I plan to integrate this into svFSI later so that users can choose to convert to higher-order mesh through the input file.

[2021-07-31 23:52] vvedula22 commented on #19
@ktbolt I merged Chi's P2P1 stuff for fluid and FSI. There were some other modifications in which I extended P2P1 for non-Newtonian flows and weakly applied Dirichlet BCs. Please use the commit https://github.com/SimVascular/svFSI/commit/e258b9fed7f3f2745bdc5d089c8a37fe1e1fd877
for your C++ conversion. I have tested this commit on all fluid and FSI cases in the [svFSI-Tests](https://github.com/Sim

[2021-08-02 18:04] ktbolt commented on #19
@vvedula22 Great! I will get back to the conversion.

[2021-08-04 18:31] mrp089 opened #41 "BCs on lines"
Has anybody tried to prescribe boundary conditions on lines (instead of surfaces)? See example project here with lines provided in `x_zero.vtp`: [line_bc.zip](https://github.com/SimVascular/svFSI/files/6933510/line_bc.zip)

Importing the line mesh, `svFSI` fails with
[code]

[2021-08-04 18:35] mrp089 opened #42 "Why do we tag nodes with .vtp files?"
Rant triggered by #41

Why do we have to supply `.vtp` meshes that contain *the exact same nodes* as the volume mesh? Shouldn't it be sufficient if I supply a volume mesh and a list of nodes where I want to apply BCs (i.e. like any other FE code)?

It's super easy to export lists of nodes in meshing tools. Now, I have to write additional code to **extract surfaces (lines, points)** that contain no

[2021-08-04 18:58] ktbolt commented on #42
@mrp089 The `GlobalNodeID` data array is used to match nodal coordinates for BCs and for coupling FSI computations. This has caused problems in the past in the SV meshing code that needs to generate consistent node IDs for boundary layer meshing.

Most FE commercial codes I've seen use node and element IDs for setting BCs. I think the real problem is that the solvers use both a **.vtp** and **.vtu

[2021-08-06 08:38] vvedula22 commented on #42
@mrp089 svFSI allows you to import meshes and faces in multiple formats. The vtu/vtp system is one of them so that it is compatible with SimVascular generated meshes. The reason why we extract vtp's is to enable easier visualization of boundary conditions in Paraview, e.g., see bct.vtp file. But the only piece of information used is GlobalElementID. This refers to tagging elements in the volumetri

[2021-08-06 08:51] vvedula22 commented on #41
@mrp089 svFSI requires elements to set boundary conditions on. For a 3D problem, it has to be surface and not a line. On the other hand, for a 2D problem, you can set BC on a line and on a point for 1D problem.

In the example you shared, you may discretize your inner face so that a face element spans across the line where you would like to apply load, i.e., the line bisects the face element. The

[2021-08-06 08:57] vvedula22 commented on #41
I also noticed that your vtp files have too much information in them unrelated to that face. Every vtp file has id's that belong to all faces. E.g., inside.vtp has ids_inside and ids_start, ids_outside, ids_end, etc. Moreover these are stored as both point-based and cell-based data. This is usually not required but is this done on purpose?

![Screenshot from 2021-08-06 04-54-18](https://user-image

[2021-08-09 14:53] vvedula22 opened #43 "Linking error with intel compilers"
I am trying to compile svFSI using Intel compilers on Expanse but it fails during linking step:

[100%] Linking CXX executable ../../bin/svFSI
/usr/lib/gcc/x86_64-redhat-linux/8/../../../../lib64/crt1.o: In function `_start':
(.text+0x24): undefined reference to `main'
make[5]: *** [Source/svFSI/CMakeFiles/svFSI.dir/build.make:1569: bin/svFSI] Error 1
make[4]: *** [CMakeFiles/Makefile2:453: Source

[2021-08-09 15:08] vvedula22 opened #44 "Option to set CMAKE_Fortran_FLAGS while configuring ccmake"
`CMAKE_Fortran_FLAGS` are reinitialized and hardcoded in [svFSI/CMakeLists.txt](https://github.com/SimVascular/svFSI/blob/master/Code/Source/svFSI/CMakeLists.txt#L36-L47) and [svFSILS/CMakeLists.txt](https://github.com/SimVascular/svFSI/blob/master/Code/Source/svFSILS/CMakeLists.txt#L3-L14).

When compiling using AOCC/Intel compilers, or when debugging, users have to edit these files to set approp

[2021-08-09 15:17] vvedula22 opened #45 "Create make-based build system for svFSI"
`svSolver` currently supports `BuildWithMake` in addition to the CMake-based build system. However, the one adapted for `svFSI` does not work.

It will be useful to fix the `BuildWithMake` for `svFSI`. It is particularly convenient to have a make-based build system on clusters where users can easily set appropriate paths to libraries, compilers, etc. depending on the module environment, which are

[2021-08-09 15:27] vvedula22 opened #46 "Shell mechanics code needs to be updated"
Shell mechanics solver in svFSI needs to be updated to model hyperelastic materials. Currently, we support only St.Venant-Kirchhoff material that performs poorly under compressive loads. The solver also needs to be tested for higher-order elements such as quadratic triangles, serendipity quadrilateral, etc. that were recently implemented but haven't been tested for shells. Potential applications a

[2021-08-09 20:17] ktbolt commented on #44
I've also run into this problem, will have a look.

[2021-08-09 20:20] ktbolt commented on #45
@vvedula22 I'd rather not have two build systems. If CMake is not working then let's fix it.

[2021-08-09 21:31] ktbolt commented on #43
@vvedula22 I've not seen this error before. This builds ok using using gcc and openmpi? Be sure to remove your build directory when rebuilding.

[2021-08-10 17:08] ktbolt commented on #19
I've redone the XML file format to mimic the layout and names currently used by svFSI
[code]

I also rewrote the XML reader to remove the jumble of parameter names and such.

[2021-08-11 09:18] vvedula22 commented on #43
@ktbolt GNU compilers build fine either with openmpi or mvapich2. I get this error when I use Intel compilers. Would like to know if anyone who used Intel compilers faced a similar error.

[2021-08-17 05:26] ktbolt commented on #19
I've created an `Implement-svFSI-using-cpp_19` branch from my svFSI fork, integrated new the XML reader and added the previous C++ interface code.

I'm now creating C++ classes that duplicate Fortran modules, retain the same names and such to make it easy to match the Fortran data. I also created a simple C++ `Array` class to store matrices.

I've converted the types in the`COMMOD` module, the mot

[2021-08-21 05:27] ktbolt commented on #19
I've added new XML elements to the parser to support fsi domains and more complicated BCs
[code]

I've added returning mesh data from the C++ to Fortran for comparison, nodal coordinates match fine but element connectivity was wrong, elements ordered differently, missed important step later where `Reordering element connectivity` occurred and node IDs were incremented by 1 but not in the same plac

[2021-08-25 05:22] ktbolt commented on #19
I've reorganized the code and have replicated the Fortran code I've come across so far as I track the control flow for a CFD simulation.
[code]
It's very easy to get mixed up here so I'm documenting all of this in https://github.com/ktbolt/svFSI/blob/Implement-svFSI-using-cpp_19/Code/Source/svFSI_cinterface/README.md.

Even though a lot of the element code is screaming `object orient me` I'm mostl

[2021-08-28 05:36] ktbolt commented on #19
I've finished converting all the Fortran code called from `LOADMSH`: reading meshes and faces, checking and reordering element connectivity, setting Gauss integration and shape function element data.

Subtracting 1 from array and vector indices, etc. is totally error prone of course but have `Array` and `Vector` class  checks to track mistakes down.

I've been adding `Array` and `Vector` class ope

[2021-08-28 08:35] vvedula22 commented on #19
Ha ha! this refers to reading end (or boundary) nodes of a 1D fiber mesh from a file generated using the SV Purkinje plugin :) You will see many more later :)

[2021-09-01 09:42] mrp089 opened #47 "Enable quasi-static analysis"
Part of #32.

I'm trying to figure out how I can achieve a quasi-static analysis (i.e. no inertia/viscosity effects but time-dependent load) within the svFSI time integration. However, I'm unsure how to modify the gen-alpha time integration for this purpose.

For a quasi-static analysis, I think I would have to:
1. set `mass = damping = 0` to ignore inertia effects
2. set `velocity = acceleration

[2021-09-01 13:11] mrp089 commented on #47
I found the update of velocities and accelerations in `PIC.f`:
https://github.com/SimVascular/svFSI/blob/e258b9fed7f3f2745bdc5d089c8a37fe1e1fd877/Code/Source/svFSI/PIC.f#L137-L145

The parameters are initialized here:
https://github.com/SimVascular/svFSI/blob/e258b9fed7f3f2745bdc5d089c8a37fe1e1fd877/Code/Source/svFSI/INITIALIZE.f#L79
https://github.com/SimVascular/svFSI/blob/e258b9fed7f3f2745bdc5d

[2021-09-01 15:47] vvedula22 commented on #47
For quasi-static analysis, all you have to do is remove the contribution of inertia by setting `Density: 0.0`. I'd not recommend changing the code to zero out acceleration `(An, Ao)` and velocity `(Yn, Yo)` variables. Even if you were to leave them as is, they would not have any contribution to the residue if you set density to 0.

It looks like you already identified portions of the code where th

[2021-09-01 16:22] mrp089 commented on #47
Thanks for the quick reply @vvedula22 and the reference!

I think we have a different understanding of the quasi-static analysis. In my understanding, we don't want any time integration, but `n` individual solutions for `n` time steps. The only place where we'd use a previous solution would be as an initial guess for the new solution. So I think we don't want any damping.

I wasn't aware that we s

[2021-09-01 17:59] vvedula22 commented on #47
@mrp089 You're right! we don't do a quasi-static analysis in svFSI but pose the problem in a dynamic setting and remove the contribution from the inertial force. This leads to a time integration error proportional to `beta * Delta t**2` as we solve for the increments in acceleration and not for increments in the displacement. The code was originally developed for FSI problems that involve inertia

[2021-09-02 11:13] mrp089 commented on #47
Thanks, again, for your help @vvedula22! I think we're on the same page now. What I was wondering:

We multiply the stiffness matrix contributions by `beta * Delta t**2` and then also multiply the update by `beta * Delta t**2`. Thus, these two factors should cancel out. However, when testing my quasi-static analysis with a simple tube inflation example, I'm still seeing a dependence of the results

[2021-09-03 04:43] ktbolt commented on #19
I've finished converting the `SETPROJECTOR()`, `FINDFACE()`, `MATCHFACES()`, `PULLSTACK()` and `PUSHSTACK()` functions. This code is tricky because of the use of integer indexes into arrays storing node IDs , array bounds from [0,N-1] and such.

Need to be careful with lines like this in Fortran
[code]
to get the indexing right in C++.

I've added definitions to the `Vector` class to support STL i

[2021-09-06 10:14] vvedula22 commented on #47
@mrp089 Sorry for the delay.

I was referring to the final update step that involves multiplication with `\beta \Delta t^2` as the time integration error as the increments are on acceleration.

The first `\beta \Delta t^2` used in assembling the stiffness matrix results from applying the chain rule to compute the derivative of the residue with respect to the acceleration.

`K := dRm / d \ddot{u}_{

[2021-09-08 12:56] mrp089 commented on #47
Thanks, @vvedula22, for that comprehensive reply! I think that makes a lot of sense and I've figured out the static time integration for now. Once G&R #32 is working, we can figure out a way of how to best integrate "static time integration" into `svFSI`.

[2021-09-08 13:46] mrp089 opened #48 "Direct solver for non-symmetric matrices"
Part of #32. I'm running into an issue with the linear solver. (using quasi-static "time integration" #47). There are two time steps in this simple pressurized tube example:

1. Hyperelastic prestressing (symmetric stiffness matrix)
2. G&R (non-symmetric stiffness matrix). Related to #39.

My linear solver settings are
[code]

Here is the output of the G&R simulation:
[code]

The problem takes man

[2021-09-09 09:15] vvedula22 commented on #48
1. Try GMRES with a Trilinos-based preconditioner. In my experience, GMRES outperforms BICG for complex solid mechanics problems.

2. We don't have an option for a direct solver in svFSI hitherto. It is on my TODO list but am currently working on updating the shell formulation. I might revisit the direct solver issue later in Oct or Nov.

3. You are welcome to implement one using Trilinos Amesos p

[2021-09-12 02:52] ktbolt commented on #19
I've finished converting the 500 line `SUBROUTINE READMSH` and the 12 subroutines that it calls to read in all sorts of things, added a bunch of parameters for prestress, initial field values, fiber directions, etc.

I've converted solver .inp to .xml files and tested on the following svFSI-Tests
[code]

Fortran and C++ codes data seem to match so far.

[2021-09-14 09:41] mrp089 commented on #48
Thanks for the overview @vvedula22!

Quick update: I was able to compile `Trilinos` with `Pardiso` and create direct linear solvers with `Amesos` in `svFSI`. I'm a little bit stuck (as expected) with some of the `Trilinos` objects, but I think it's doable. I'll open a pull request (separate from G&R) once I have a running version.

[2021-09-14 12:37] vvedula22 commented on #48
Awesome @mrp089 You may follow some examples in the [amesos source](https://github.com/trilinos/Trilinos/tree/master/packages/amesos/example) if it helps. A separate pull request is a great idea. However, note that MUMPS would be ideal for svFSI as it not only handles MPI but also computes Schur complement for mixed problems (fluid, stokes, ustruct, FSI). The Amesos interface allows switching to M

[2021-09-14 20:13] schwarz-e opened #49 "Pattern in uniform ring condition"
In a simulation with uniform stress applied to the inner surface of a ring, the resulting stress calculated is not uniform along the circumference, and instead a harmonic pattern emerges.

![image](https://user-images.githubusercontent.com/53580464/133327036-05039014-084b-40ff-ab68-67a9c5166fe4.png)

[2021-09-15 00:00] aabrown100-git opened #50 "Some issues in svFSI/INSTALL.md"
In step 7

7. Download `svFSI` from GitHub:

[code]
I was unable to clone the repository with this command. Instead, I used
[code]
Might be helpful to add this.

In step 8

8. Create a separate `build` folder and compile using the following commands:

[code]
I believe the line should read
[code]

[2021-09-16 10:29] vvedula22 commented on #49
@schwarz-e The Stress you are plotting is the second Piola-Kirchhoff stress and you are plotting the `magnitude' (not sure how exactly it is defined in Paraview for a symmetric tensor). You might want to compute and plot radial and circumferential stresses to see expected results.

[2021-09-16 10:36] vvedula22 commented on #50
@aabrown100-git Thanks, will fix the typos. Reg. step 7, you need to set up `ssh` public key on your local machine and add it to your profile on GitHub to use `ssh` to clone a repository. This approach is more secure than `https` although `https` is easier as it is less likely to be blocked by the firewall or something.

[2021-09-17 22:29] #49 closed, assigned to nobody

[2021-09-18 01:44] schwarz-e opened #51 "Variable wall material properties for STRUCT and LELAS"
For projects where the stiffness of a vessel is known to vary spatially, variable wall properties are needed.

My plan is to add the ability to input a .vtu with a "varWallProps" nodal data array where the first value is used as the Young's modulus and the second is the Poisson ratio.

When added, the LELAS/STRUCT modules will interpolate the element-wise modulus/ratio from the nodal values using

[2021-09-18 02:19] ktbolt commented on #51
@schwarz-e This sounds good; it will be several months before the new C++ solver is ready.

You should add two separate VTK NodeData arrays, one for Young's modulus and one for the Poisson ratio. This makes it clear what the data is, seen problems with this kind of thing in svSolver. It will also be easier to implement in the current Fortran svFSI version.

How do you create the VTU files? I worke

[2021-09-21 02:38] schwarz-e commented on #51
I already implemented and opened a pull request for them as a single data array- I know it might be clearer to have separate, but in the interest in flexibility having them together seemed like a good choice (I can document it's usage in svFSI-Tests to help users who are interested).

Right now for my application I'm creating the wall using a structured grid, and at some of the points I have contr

[2021-09-21 02:55] schwarz-e opened #53 "Output GlobalNodeIds?"
Is there currently a way to have svFSI include the GlobalNodeIds with the output vtu? It would be useful for post-processing which requires querying on specific, known points.

[2021-09-21 04:15] ktbolt commented on #51
@schwarz-e Issues are used to initiate code development for an enhancement or a bug fix. This allows other developers to evaluate and discuss things like

- usefulness and impact the addition of any code may have on the code base
- how new code might best be integrated into existing code
- how the additional work fits in with the current development plan
- how the new functionality it can be used,

[2021-09-21 10:24] vvedula22 commented on #53
@schwarz-e  GlobalNodeIDs are defined for faces. The output vtu files have mesh coordinates in there for postprocessing. If you are processing faces and need GlobalNodeIDs, you may load them from the vtp files.

[2021-09-21 10:24] #50 closed, assigned to nobody

[2021-09-23 05:11] ktbolt commented on #19
I'm converting `READEQ` now, also converting `svFSI_GenBC.inp` to XML for testing, will need to add new parameter for `Couple_to_genBC`.

And it finally dawned on me what the `l` means in variable names like `lEq`, `lM`, etc. ... local! Am I _slow_?

[2021-09-23 17:19] vvedula22 commented on #51
Since this is already implemented, I will review this pull request and merge it with the master branch. However, we may have to create a separate issue for creating a general framework for loading element/node-wise wall properties. I got this request multiple times where people are interested to load spatially-dependent anisotropic model parameters (e.g., HGO model).

I am inclined to use the curr

[2021-09-23 19:34] schwarz-e commented on #51
@ktbolt I have some tests and example files that I used to test functionality (i.e. ensuring that when identical properties are applied to every node it yields the same result as the non-variable wall solution). I can open a pull request in svFSI-Tests to share those files and modify svFSI_master.inp to document usage.

@vvedula22 I agree that it would be good to have more checks around the variab

[2021-09-24 19:12] ktbolt commented on #51
@schwarz-e Great! Add the tests to svFSI-Tests following the naming convention used there.

I think scalar arrays should have separate variables. Tensors should be a single variable.

[2021-09-25 23:08] LeiShi3374 opened #55 "Holzapfel-Ogden model for myocardium: heaviside function approximation"
I will create a branch used for a benchmark problem.

A new material parameter k needs to be added to the constitutive model HO. It is in the equation of chi(x)=1/(1+exp(-k(x-1))) which is used to approximate the heaviside function in a "softer" way to calculate only the fiber stress in tension instead of the method used in the original codes which used a hard if-else function.

A higher k corresp

[2021-09-26 21:25] vvedula22 commented on #55
Thanks - this will be useful for cardiac mechanics simulations. You should also add the simplified viscoelastic term to the strain energy and this feature should be added for both `struct` and `ustruct`. The modified strain energy would then depend on `\dot{E}` as shown below,

![temp](https://user-images.githubusercontent.com/17485535/134824661-e6355297-3577-488f-a57f-74e883dab4ab.png)

Please ma

[2021-09-26 22:03] vvedula22 commented on #51
@schwarz-e I guess your implementation is similar to the way we load variable wall properties for CMM equation and looks mostly fine. However, a few areas could be modified, if not now, but sooner or later.

1. We should not have the variable wall properties in the vtu file as a single array. For instance, in the example you shared, there is an array varWallProps that stores both elasticity modulu

[2021-09-28 21:44] mrp089 commented on #48
I got the first version of this working. Here's a quick summary:

The current stiffness matrix `K` (used for iterative solvers within `AztecOO`) is stored in an `Epetra_FEVbrMatrix` that inherits from `Epetra_VbrMatrix`. It uses a `dof x dof` dense matrix block structure (not entirely sure if this is advantageous over just putting everything in an `Epetra_CrsMatrix` with a corresponding map). Cons

[2021-09-28 21:54] mrp089 commented on #48
I'm slightly confused about how we apply Dirichlet boundary conditions (DBCs). I see they are passed to `trilinos_global_solve_` via `dirW`. It looks like the DBCs are actually applied when calling `constructJacobiScaling`. Here, we assemble a `diagonal` matrix from the diagonal of the stiffness matrix `K` and the `dirW` vector.

What confuses me is that if I set zero DBCs, those DOFs are zeroed i

[2021-09-29 01:02] vvedula22 commented on #48
@mrp089 That's great! Have you checked if changing the matrix structure impacts other linear solvers and preconditioners in Trilinos (AztecOO, Ifpack, ML?). Please also try different problems (fluid, FSI, with resistance bcs etc.) to make sure these changes don't break other implementations.

Regarding Dirichlet BCs, we apply them strongly. As we are solving for the increments in the solution, we

[2021-09-29 17:11] mrp089 commented on #48
Thanks for the overview @vvedula22! I think there are two different places in `svFSI` where we apply DBCs: `SETBCDIR*` in `SETBC.f` and `constructJacobiScaling` in `trilinos_linear_solver.cpp`.

It's hard for me to understand what is happening in `SETBC.f`. All I know is when I call `TRILINOS_GLOBAL_SOLVE` from `LS.f`, we provide the stiffness matrix **without** DBCs in `Val` and the DBCs in `tls%

[2021-10-02 00:40] vvedula22 commented on #48
Why do you have to modify SETBC.f? The left-hand side matrix is not assembled entirely in SETBC.f. And this may have disastrous implications in the svFSILS code for other different types of problems. Note that the DBCs are not handled in svFSI but in svFSILS.

I'd recommend you changing the diagonal element to 1 after pre-multiplying and post-multiplying the matrix with the diagonal scaling. That

[2021-10-02 01:07] mrp089 commented on #48
I don't want to touch `SETBC.f`.

I discovered that `constructJacobiScaling` in `trilinos_linear_solver.cpp` has "disastrous implications" for the conditioning of my matrix :-) I fixed that by putting a `1` on the diagonal and `0` in the rest of the row.

I'm just confused how `svFSI` with iterative solvers ever worked robustly with a bunch of zero rows...

[2021-10-02 04:57] ktbolt commented on #19
I've converted `READEQ`, `READDOMAIN`, `READLS`, `READCEP`, `READMATMODEL`, `READVISCMODEL` and `FFT`.

I've also added a bunch of `enum classes` to replicate the Fortran `PARAMETER` definitions in `CONSTS.f`. The Fortran
[code]
is implement in C++ like this
[code]
These enums are referenced using `PhysicalProperyTypes::fluid_density` for example.

I've also converted more solver `.inp` files to `

[2021-10-02 10:50] vvedula22 commented on #48
@mrp089 haha :) sorry, I was slow on catching up with GitHub issues - should have warned you earlier.

I should have given you more information about DBCs but my other post was already becoming long.
`SETBC.f` doesn't handle DBCs directly. We only prescribe the values (`An`, `Yn`, or `Dn`) in `SETBC.f`. E.g., below is where we apply DBCs on the state variable (`lY`) and its time-derivative (`lA`):

[2021-10-05 01:18] ktbolt commented on #19
@vvedula22 I'm testing setting **CMM** parameters using https://github.com/SimVascular/svFSI-Tests/blob/master/07-fsi/cmm/01-pipe_RCR/02-deform-wall_inflate/01-inflate/svFSI.inp.

The mesh is defined using
[code]
The Fortran code is calling `SUBROUTINE READVTU(lM, fName)` to read in the VTP file
[code]

This is confusing because the name and implementation of `READVTU` implies that it should only

[2021-10-05 08:12] vvedula22 commented on #19
@ktbolt This is a special case because we are loading the mesh as a shell surface where the triangulated wall surface is treated as a svFSI `mesh` and not a `face`. Likewise, the svFSI `face` for the shell surface would be the edges of the shell. Ideally, while creating the example, I should have copied the walls_combined file to a .vtu extension to maintain consistency. However, I didn't want to

[2021-10-05 18:10] ktbolt commented on #19
@vvedula22 Thanks for the detailed reply!

I implemented `READVTU` to just read .vtu files, will think about redoing that or better yet I will convert the `walls_combined.vtp` file to `walls_combined.vtu` for my testing.

It's not clear why SV even uses vtp files to store mesh data, just overcomplicates processing mesh files, should use vtu for all mesh data.

[2021-10-08 09:40] vvedula22 opened #57 "Two bugs in SETBC.f"
I was testing Robin BC and coupled BC as part of the cardiac mechanics verification (issue #55) and found two bugs:

1. When Robin BC is applied along the normal direction, there is almost no effect on the boundary. However, the boundary condition is treated correctly when `Apply along normal direction` is set to false. It turns out that the element's normal vector is not normalized by its magnitu

[2021-10-08 09:43] #57 closed, assigned to nobody

[2021-10-09 04:27] ktbolt commented on #19
I've converted the 500 line `PARTMSH` Fortran function that partitions and distributes a mesh across a set of processors,  a most _brutal_ experience, a 0-based Fortran array, figuring out which variables are counters and which are element IDs, redoing the MPI calls, and converting the `CMMOD` module implemented in `COMU.f`.

It will be interesting to reimplement this code not just following the F

[2021-10-11 00:50] LeiShi3374 commented on #55
Update: The implementation is working for STRUCT but are still figuring out issue with USTRUCT.

Here is a snapshot of the representative fully contracted volume.

![image](https://user-images.githubusercontent.com/69972309/136719185-8c1621c7-72d3-47e5-bcd2-b52ea85c6f06.png)

[2021-10-13 19:15] mrp089 commented on #41
Closing this...

If you have an algebraically defined geometry (e.g. cylinder), you can apply symmetry BCs in a different way: Only simulate a fraction of the geometry, e.g. a quarter. Then apply symmetry BCs (zero x- or y-displacement) on the cut-off surfaces.

This is more reliable (and efficient) than applying BCs on lines in the interior of the domain.

[2021-10-13 19:15] #41 closed, assigned to nobody

[2021-10-19 00:51] mrp089 opened #59 "Inflow profile on quarter cylinder"
To impose symmetry boundary conditions, I'm running a quarter cylinder profile. Unfortunately, when I apply inflow conditions, all my cut-surfaces are treated as walls and I end up with zero velocity there:

![inflow_profile_quarter](https://user-images.githubusercontent.com/51269309/137825586-84f87571-2deb-48d4-883a-50746a861766.png)

It's fine in the interior of the domain: The velocity vectors

[2021-10-19 22:30] mrp089 commented on #59
Solved... The file looks like
[code]
where `n` is the number of nodes on the boundary face.

[2021-10-19 22:30] #59 closed, assigned to nobody

[2021-10-20 19:37] vvedula22 commented on #59
@mrp089 Sorry for the delay. You could also use 'Effective direction' while setting the Dirichlet BCs to achieve symmetry where you set the flow value along a particular direction (z-direction in the above case). To get symmetry, you could also set another homogenous Dirichlet BC along the orthogonal directions. For e.g., set 0 values for x- and y- components on the vertical and horizontal planes.

[2021-10-22 19:26] ktbolt commented on #19
@vvedula22 What is the format of the Fourier coefficients file used in `Fourier coefficients file path:` ? I don't see an example for this in `svFSI-Tests`. Can you send me an example file that I can use to test?

[2021-10-23 01:40] vvedula22 commented on #19
OK I will. You also asked for another example during the last solver meeting. Could you remind me what was that test case we talked about then? Will upload both these cases.

[2021-10-23 12:02] CZHU20 commented on #43
Hi @vvedula22, I submitted a pull request a couple weeks ago, in which the build system is modified to be compatible with Intel oneAPI compiler suite.  I also had some linking issues, and it turned out that we needed to explicitly tell the linker that we are linking objects built from C++ code and Fortran code.

[2021-10-23 12:05] CZHU20 commented on #19
Hi @ktbolt, I saw you are creating templates for 2D/3D arrays. Is it possible to take advantage of existing libraries such as eigen3, boost etc to handle the matrix/vector operations for us?

[2021-10-23 12:12] vvedula22 commented on #43
@CZHU20 I didn't realize these were related. Will check if your pull request helps me compile with intel compilers on Expanse.

[2021-10-23 14:00] vvedula22 commented on #43
The issue has to do with linking BLAS and LAPACK libraries in addition to MKL. This is fixed in pull request #56 for Intel oneAPI support.

[2021-10-23 14:00] #43 closed, assigned to osmsc, ktbolt

[2021-10-23 18:22] ktbolt commented on #19
@vvedula22 During the solver meeting I asked for a test case for variable wall properties.

[2021-10-23 18:38] ktbolt commented on #19
@CZHU20 I wrote my own array and vector templates so I could easily reproduce Fortran arrays and debug indexing problems. I've been looking at Eigen and other packages for  matrix/vector operations, would like to use something for the real svFSI implementation. I will probably use Eigen for the Python svZeroDSolver that I will help reimplement in C++.

What is your experience with matrix/vector  p

[2021-10-24 00:21] CZHU20 commented on #19
Hi @ktbolt thanks for the explanation. I am only familiar with Eigen. Since it's just a bunch of header files, I think Eigen can also be easily packaged into svFSI for distribution.

[2021-10-25 21:33] vvedula22 commented on #19
@ktbolt Added two cases in [svFSI-Tests](https://github.com/SimVascular/svFSI-Tests) :

- Fourier coefficients example is included in the [pipe3D_RCR](https://github.com/SimVascular/svFSI-Tests/tree/master/04-fluid/01-pipe3D_RCR) example
- CMM with variable wall properties is included in the [vein-graft](https://github.com/SimVascular/svFSI-Tests/tree/master/07-fsi/cmm/02-vein-graft) example

Also

[2021-10-26 19:20] ktbolt commented on #19
Thanks @vvedula22 !

[2021-10-27 18:21] ktbolt commented on #19
The way svFSI currently preprocesses input mesh, face, and BC data for a simulation is not very efficient, especially for an HPC cluster

- submit a job to the cluster
- wait for it to start
- execute svFSI using MPI
- process the mesh
- partition the mesh
-  detect an error in the solver input file or other data
- job fails

Maybe what we need to do is to preprocess the input data and write that

[2021-10-28 02:12] ktbolt commented on #19
I discovered that I skipped converting the code that processes boundary conditions. This is _probably important_ so I converted the 500 line `READBC` subroutine, added more XML parameters for BCs, code to read in various .dat files, etc.

[2021-10-30 21:30] ktbolt commented on #19
Added the `Add BoyFriend` (Add_BF) XML parameter and converted the Fortran code processing this data.

[2021-11-03 19:11] LeiShi3374 commented on #55
A macroscopic viscoelasticity has been implemented, with the second PK = \eta E_dot. \eta can be set using Viscosity under "Add equation" in both struct and ustruct. The default Viscosity is 0.

The Heaviside function is implemented for HO model and is approximated using a function \chi=\frac{1}{1+exp(-k(x-1))}. The default k is equal to 100 and can be set as a material parameter in HO model.

Tes

[2021-11-03 22:22] ktbolt commented on #19
I've finished converting the 400 line `DISTRIBUTE` function and its dependences that partitions meshes and distributes data to MPI processes.

So far I've converted 14 solver .inp files to XML, would like to convert the remaining 54 and test, make sure everything is working up to this stage in the conversion, always finding new parameters and a bug now and then.

[2021-11-04 04:20] CZHU20 commented on #19
@ktbolt Great achievement IMO! I have attempted a couple times, but never could make sense of how the jobs are split. Were you able to understand that fully?

[2021-11-04 17:51] ktbolt commented on #19
Thanks @CZHU20 ! Converting `SPLITJOBS` took a lot of time to get right, no comments and the use of meaningless two-letter variables names. I understand what it is doing though, have written this sort of thing myself.

The use a key variable named `j` and comments like `The work that suppose to be done by "l"` reminds me of _Men in Black_ ...

[2021-11-14 10:42] vvedula22 commented on #55
I am reopening this issue as there were further updates in pull request #60
@LeiShi3374 can you add more details here on the new changes in this pull request?

[2021-11-14 16:05] LeiShi3374 commented on #55
Update: a modified HO model has been added based on "Nolan, David R., et al. "A robust anisotropic hyperelastic formulation for the modelling of soft tissue." Journal of the mechanical behavior of biomedical materials 39 (2014): 48-60."

In this model, an unconstrained version of the HO model was implemented based on the full invariants instead of the isochoric invariants.

A bug in Robin boundary

[2021-11-15 21:07] vvedula22 commented on #55
Closing this issue now as the pull request #60 is now merged with master commit bb4b8c4ccc0e9f352799ced460dc3f21fcc3ea81

[2021-11-15 21:07] #55 closed, assigned to nobody

[2021-11-15 22:24] ktbolt commented on #19
I've converted all of the solver input **.inp** files to **.xml** except for some of the higher-order elements tests in **02-lelas/01-beam_Euler-Bernoulli**, found a few bugs and added more parameters and element types.

The **07-fsi/cmm/01-pipe_RCR/03-deform-wall_prestress/02-CMM-prestress** test fails on MacOS 10.13 with a memory corruption error in the Fortran code using the latest svFSI releas

[2021-11-16 00:57] CZHU20 commented on #19
@ktbolt Hi Dave, I found a bug in the input file of 07-fsi/ale/02-channel-block-flag_2D. The fluid domain inlet was not fixed so it moved with the mesh motion. Just submitted a pull request, but I don't think I have the access to accept the request. You can see the file change here.
https://github.com/SimVascular/svFSI-Tests/pull/5/commits

[2021-11-16 10:50] vvedula22 commented on #19
@ktbolt You may leave out the shell examples from testing for the time being until issue #46 is resolved. There could be some inconsistent output.

On the CMM case, I tried it on my Mac but could not reproduce the issue. However, I found a bug in the CMM code during memory allocation that might explain the error. Can you try applying the attached patch file and see if it fixes it?
[patch_bug_CMM_m

[2021-11-16 19:12] ktbolt commented on #19
@vvedula22 The **07-fsi/cmm/01-pipe_RCR/03-deform-wall_prestress/02-CMM-prestress** test now works with your  CMM fix. Thanks for the fix!

[2021-12-06 03:13] ktbolt commented on #19
I am now converting `INITIALIZE.f` and the `svFSILS` code.

[2021-12-09 01:50] ktbolt commented on #19
Found and fixed a few C++ compilation errors on Ubuntu.

[2021-12-14 02:13] mrp089 opened #62 "WSS at boundary"
I'm simulating steady-state ridig-wall flow in a quarter-cylinder with constant quadratic inflow (prescribed via `Spatial profile file path`), constant outflow pressure, and symmetry boundary conditions (zero flow perpendicular to cut-offs).

When post-processing WSS, I get the results below. I expected WSS to be more or less uniform (no variation in circumferential direction due to symmetry and m

[2021-12-14 11:18] vvedula22 commented on #62
@mrp089 WSS is only computed at the boundaries (faces) and not in the interior (mesh). It is set to 0 in the mesh interiors. The variations you are seeing at the face boundaries (inlet vs. outlet, cut-planes) are the side-effects of projecting WSS from elements to nodes. Even though your flow field is symmetric, since WSS is projected onto the edge shared between the wall and the symmetry faces (o

[2021-12-15 22:24] mrp089 commented on #62
Thanks for your quick reply! I understand that WSS needs to be projected from elements to nodes. During that process, I think something is wrong in `svFSI`. Below, I compare WSS from `svFSI` (top) and "manually" in `ParaView` from the velocity field (bottom).

![wss_svFSI_ParaView](https://user-images.githubusercontent.com/51269309/146271606-8a643441-5e9a-42f4-95c7-73c2a23b2941.png)

The `ParaView

[2021-12-15 23:30] mrp089 commented on #62
I think I know why the `ParaView` solution is uniform: It's by default splitting the surfaces when calculating the normals. I'm pretty sure `svFSI` doesn't do that, so it may calculate nodal normals that are averaged over different faces in the model.

[2021-12-16 01:14] vvedula22 commented on #62
@mrp089 I am curious how you projected WSS in Paraview but the way we project in svFSI from elements to nodes is using the lumped method where we get contributions from all the surface elements connected to the node, including adjoining faces, with appropriate weighting. In your case, because the symmetry faces and the inlet/outlet faces have negligible WSS, the edges shared with these faces get l

[2021-12-16 02:04] CZHU20 commented on #62
@mrp089 I am also very curious about how the projection is done in Paraview. Can you elaborate on what you found? Thanks.

Lumped method works fine for P1 mesh, but can cause trouble for P2 mesh due to the near-zero weights on vertices. A better option would be a global projection, but that can be costly when factoring in the communication etc.

[2021-12-16 02:24] mrp089 commented on #62
The "trick" that `ParaView` uses is [Surface] `Splitting` (activated by [default](https://vtk.org/doc/nightly/html/classvtkPolyDataNormals.html#a285308b5c5f8b46d0637dd54bf8cc200)). This means that all surfaces that intersect at an angle of `>30` are split in two. `ParaView` automatically doubles up the nodes at these intersections and calculates a separate normal (bottom). I assume that turning of

[2021-12-16 11:57] vvedula22 commented on #62
Interesting. You're right that we are using face normals from a lookup table stored at nodes and that these are averaged between faces. However, even if we were to compute normals at the element level in this subroutine `BPOST`, we will still have this issue as we perform averaging on the final quantity of interest (e.g., WSS) at the face borders without any node duplication.

I like the idea of d

[2021-12-16 19:27] mrp089 commented on #62
Yeah, messing with the discretization is probably not the way to go.

What if we export WSS (in addition) as a cell quantity as @vvedula22 originally suggested? That should circumvent any problems with normal vectors and would be a more "honest", non-interpolated way of quantifying WSS. Afterward, the user could still decide to interpolate WSS to nodes on each boundary face separately.

@ktbolt Do

[2021-12-16 20:34] ktbolt commented on #62
@mrp089 WSS is computed in the solver, not svPost. I looked in the code and it seems that a least-squares projection is used to compute the normal to the boundary at the nodes (see `solver_subroutines.f: f3lhs()`) but I'm not sure what is going on, can't follow the code that well.

[2021-12-21 10:15] vvedula22 commented on #62
Thanks @ktbolt. We also do L2 or least-squares type projection to project any quantity from elements to nodes. However, it appears that in `svSolver`, we are using the 'special lumping technique' while in svFSI, we use the row-sum technique to do lumping of the LHS matrix.

@CZHU20 It might be worth exploring the special lumping technique's performance on higher-order elements? Please see Hughes'

[2021-12-21 12:38] CZHU20 commented on #62
@vvedula22 I actually implemented the special lumping techniques in one of my branches long time ago. But I remember that it didn't work that well for some reason. I will revisit my implementation and see if I can improve on it.

[2022-01-13 01:35] ktbolt commented on #19
I've fixed a bunch of array indexing problems in `FSILS_LHS_CREATE`. This guy seems to  create data structures for manipulating the LHS matrix although it is not clear what the data structures are used for.

[2022-01-13 04:05] CZHU20 commented on #19
Hi Dave, I spent quite some time figuring out some of the data structures while implementing Hypre in svFSI. I am not sure what data structures you are referring to here, and as you probably have seen in the code, most of the data structures created in `FSILS_LHS_CREATE` are for parallel communication. Basically, there is the usual global-local indexing mapping and a local reordering that separate

[2022-01-13 18:28] ktbolt commented on #19
Thanks @CZHU20 for the information, very helpful! It is good to understand the general idea about what the code does.

[2022-01-18 21:11] ktbolt commented on #19
@vvedula22 @CZHU20 I don't see any tests using the `Simulation initialization file path`  keyword. Is this functionality that is useful?

[2022-01-18 21:57] mrp089 commented on #62
@vvedula22 Did you have a chance to work on the element-wise calculation of WSS? I'd love to work with it if you already have something running. Thank you!!

[2022-01-24 18:43] arsh-k opened #64 "Receiving an error trying to build svFSI from the source code"
Hey everyone, I am pretty new to the idea of building a source code using CMake. I continue to run into a particular error after I followed the steps that have been provided to build svFSI in order to get access to the latest features.

[code]

I am not quite sure what I need to do to proceed ahead, I would be willing to provide more information if somebody could just help me with this problem.

T

[2022-02-01 01:22] vvedula22 commented on #46
Made some progress on this. Fixed the current shell mechanics implementation for constant strain triangles.

Commit: https://github.com/vvedula22/svFSI/commit/ac5ee22d24fef78bf63a88e493e364a273743f9d

Tested it on, (a) bending of a plate subjected to normal load, and (b) mechanics of the aortic valve under transvalvular pressure gradient with contact between leaflet surfaces. Both the examples are

[2022-02-01 01:27] vvedula22 commented on #64
Please use [SimTK](https://simtk.org/plugins/phpBB/indexPhpbb.php?group_id=188&pluginname=phpBB) forum for these kinds of issues.

[2022-02-01 01:27] #64 closed, assigned to nobody

[2022-02-11 02:34] ktbolt commented on #19
I have added the `Eigen` C++ template library for linear algebra to `svFSI/Code/ThirdParty`.  You can now use it like so
[code]

However, I'm not using `Eigen` for any linear algebra operations, still using the Fortran LAPACK library, calling  its Fortran functions from C++.

[2022-02-11 02:54] ktbolt commented on #19
I've add a bunch of new code for material models, matrix operations, and post processing.

[2022-02-15 02:04] ktbolt commented on #19
@vvedula22 I see that `SUBROUTINE IFFT(gt, Y, dY)` defined as
[code]
is being called from `SETBCDIRL` using scalars rather than arrays like this
[code]

I guess this might would work ok if `gt%d` is one. Is that the case?

[2022-02-19 19:26] aabrown100-git opened #65 "Typo in svFSI_master.inp Robin BC"
To impose Robin BC in the normal direction, svFSI_master.inp says the command should be

Applied along normal direction: t

I believe the proper command is

Apply along normal direction: t

Since line 1750 of READFILES.f reads
lPtr => list%get(lBc%rbnN, "Apply along normal direction")

[2022-02-24 03:08] ktbolt commented on #19
I've finished converting the `INITIALIZE` function and all the functions called from that, added a bunch of functions from
[code]

I've not fully converted the code that writes text files, will do that later.

Found a few bugs and fixed them, problems with indexing into a subsection of an array, difficulty with variables named `l` and `o` and `e` ... and sometimes `y`.

The C++ code is about `35,0

[2022-03-02 20:47] mrp089 commented on #62
I have an update on WSS calculation. I changed `BPOST` to use face normals instead of Gauss-point-interpolated nodal normals. Since the geometries are split by different faces anyways, this prevents wrong normals on intersecting edges (as shown above).

Here is a comparison of different WSS formulations. All are for the same example with a steady-state flow (from left to right) through a quarter-p

[2022-03-02 23:58] mrp089 opened #66 "Mapping values from fluid to solid mesh in FSI"
For a monolithic FSG approach using #32, I need to map WSS from the fluid interface to the solid interface.

I found the code that sets up the projection from the face pair given in the input file:
https://github.com/SimVascular/svFSI/blob/9a3ff6fb2747d208f536ea9598dce327a8f28535/Code/Source/svFSI/READMSH.f#L176-L188

It looks like this information is stored here:
https://github.com/SimVascular/sv

[2022-03-03 02:17] ktbolt commented on #62
@mrp089 You might could have another `Output` type for WSS where you are required to give the face names, kind of a hack though.
[code]

Probably the best solution is to calculate and output WSS at the element level. Then WSS could be visualized however users want. You would need to create another data structure to store results at the element level, I don't think there is anything like that in sv

[2022-03-03 21:53] vvedula22 commented on #62
@mrp089 thanks for doing this. I don't think we can automatically find a wall face based on the boundary conditions as it can get complicated when we include moving walls (imposed motion). Instead, we should ask the user to provide a face on which the wall shear is computed.

In general, I think we are also interested in processing other wall quantities such as fluid pressure and traction on the w

[2022-03-03 21:56] vvedula22 commented on #66
@mrp089 Once the interface is projected between fluid and solid domains, they both are treated as identical. So, I don't think you would need to remap quantities to the solid nodes as both the fluid and solid nodes are treated as the same at the interface. Can you be more specific about how you plan to use the mapped WSS? Would it be in the form of a vtp file? or are you creating this map internal

[2022-03-03 22:08] vvedula22 commented on #19
@ktbolt Do you still need my input on this one, or have you resolved this already?

You're right. In this particular function call, the dimension is 1 (`gt%d=1`) and so we can still make the function call. Fortran allows such calls as it always passes arguments reference. In other areas where the same function `IFFT` is called, you will see that an array is being passed. For e.g., see [BF.f](https

[2022-03-03 22:16] ktbolt commented on #19
@vvedula22 I've resolved this in the C++ conversion, was just curious about the Fortran implementation.

[2022-03-09 01:02] mrp089 commented on #66
Thanks for the hint @vvedula22 Like you said, the node numbering of solid and fluid `msh(i)%gnNo` is overlapping (i.e. containing the same ids in both, which correspond to the interface). I wrote code that finds the interface by searching for ids that are contained in both domains.

Every solid Gauss point is assigned a (transmurally constant) WSS which is used in the G&R model (compared to WSS du

[2022-03-09 01:02] #66 closed, assigned to nobody

[2022-03-09 01:14] mrp089 opened #67 "Solid clamped at caps in FSI simulation?"
I have this [FSI example](https://drive.google.com/file/d/1-wSDCZ0u3PGURkaiikLmp3x3NYlCMkgu/view?usp=sharing) of a quarter cylinder with steady inflow and deformable walls. For the solid, I have symmetry BCs at the cut-offs and zero longitudinal displacements on inlet and outlet.

However, when I look at the results (displacements x10), it appears that the caps of the model are clamped (i.e. zero

[2022-03-09 09:28] vvedula22 commented on #66
This is probably not required because, after the projection step, the `fa(iFa)%gN` and `fa(jFa)%gN` at the interface map to the same global node number in the range `1:tnNo.`

It appears that you want to calculate WSS at the interface from the fluid domain and access this value from the solid domain. To achieve this, you may do the following:
1. Compute WSS only at the interface as done currently

[2022-03-10 00:21] vvedula22 commented on #67
@mrp089 I tested your case and the results show that the inflow/outflow faces are not exactly clamped. You can still see some finite displacements in the XY plane on the nodes shared with the outer wall, although these are very small. This is expected because you are forcing the flow to be along the normal direction on both these faces.

Moreover, (a) at the outflow, you are also forcing zero tang

[2022-03-12 05:40] ktbolt commented on #19
I've added support for Trilinos.

[2022-03-12 15:20] CZHU20 commented on #19
Hi @ktbolt Sorry for the late reply. I somehow missed the notification. Yes, this is a very useful functionality, especially in parametric study, in which I can use the results from one parameter as the initial condition for the other one to cut short the transient time to reach periodicity. The syntax would be `Simulation initialization file path: ./result_1000.vtu`. I have tested it and it worke

[2022-03-13 20:41] ktbolt commented on #19
I've added setting the CMake variable `SV_USE_TRILINOS` from the CMake GUI

<img width="1000" alt="Screen Shot 2022-03-13 at 1 35 57 PM" src="https://user-images.githubusercontent.com/23109458/158078285-74e55e27-925a-4568-90d6-ad88668d4d6c.png">

and from the command line
[code]

You will then not need to edit the `SimVascularOptions.cmake` file to enable using Trilinos with svFSI.

[2022-03-13 20:45] ktbolt commented on #19
@CZHU20 Could you please add a test to `svFSI-Tests` for the `Simulation initialization file path: ` option when you have time? I will need an example to test the C++ code when I convert it.

[2022-03-17 01:30] ktbolt commented on #19
The new winner of the _Impossible to Comprehend Subroutine Name_ award is `BASSEMNEUBC`. I assume this should be read as `BASS-EMNE-UBC`, something to do with the topic of fish and UBC in Canada.

Fortran 90 came out in 1991 so I am curious about why the code uses FORTRAN 77 formatting and such: capitals, no underscores, fixed-form source in column 7, etc. A historic thing I am guessing.

[2022-03-17 04:30] ktbolt commented on #19
The code has been crashing and I finally found out why. There is Fortran code all over the place that sets `cDmn`  like so
[code]

I've been converting the code like this
[code]
Looking at the Fortran code I now see that `cDmn` is not defined locally but is in fact a global variable defined in `COMMOD`. So this guy is being set  in one subroutine and used in another. Note that even though `cPhys`

[2022-03-17 07:45] CZHU20 commented on #19
Hi @ktbolt , please check this example:
https://github.com/CZHU20/svFSI-Tests/tree/master/04-fluid/08-flow-past-cylinder/Re100
The input file svFSI_initialization.inp demonstrates the application of this option.

[2022-03-17 21:31] ktbolt commented on #19
Thanks @CZHU20 for the example!

[2022-03-18 17:05] mrp089 commented on #67
Thanks for all the tips, @vvedula22! These did the trick

[2022-03-18 17:05] #67 closed, assigned to nobody

[2022-03-22 01:47] schwarz-e opened #68 "Cannot allow effective direction deformation on flow inlet face"
When applying a Dirichlet flux condition on a face, it appears that face is necessarily clamped. Is there away to let in-plane motion occur (i.e. let the Dirichlet flux face deform)? Currently these are my FSI boundary conditions:

 Add BC: lumen_inlet {
      Type: Dir
      Time dependence: Steady
      Value: -20.0
      Impose flux: 1
      Profile: Parabolic
   }

   Add BC: lumen_outlet {

[2022-03-22 17:09] schwarz-e commented on #68
See issue #67

[2022-03-22 17:09] #68 closed, assigned to nobody

[2022-03-23 19:26] schwarz-e opened #69 "Inconsistent WSS in rigid fluid pipe mesh?"
I am running a simple rigid pipe simulation with a mesh generated with a prismatic boundary layer/outer wall.

![Screenshot from 2022-03-23 10-56-31](https://user-images.githubusercontent.com/53580464/159765004-361ec2cd-f22b-4812-b935-cf58ed36bf09.png)

However, the WSS field generated is not uniform. Ignoring effects at the end caps, within one axial slice the WSS can vary by 10-20%.

![Screensho

[2022-03-25 16:21] vvedula22 commented on #69
@schwarz-e While the spatial variation is not surprising when using FEM over unstructured meshes, the range is intriguing. Have you tested refining the mesh, particularly in the interior? Can you plot element WSS that is computed over the face (#62)?

[2022-03-25 23:00] ktbolt commented on #19
I've converted a bunch of `svFSILS` functions

- SOLVE
- DOT
- CGRAD
- GE
- GMRES
- NORM
- NSSOLVER
- SPARMUL
- PRECOND

It was tricky to convert this code, lots of indexing into and modifying sub-arrays and such. The code is currently failing with a `SIGSEGV`,  I probably missed changing a 1 to a 0 someplace ...

[2022-03-29 22:30] aabrown100-git opened #70 "Incorrect fluid domain volume in FSI simulation"
When running an FSI simulation ([02.8_no_results.zip](https://github.com/SimVascular/svFSI/files/8375361/02.8_no_results.zip)) the volume of the fluid domain (Domain 0) is calculated incorrectly. Instead, the volume output for Domain 0 is actually the volume of the total domain (fluid + solid domains). This incorrect volume is output in histor.dat during initialization, as well as in V_FS_Volume_a

[2022-04-01 20:06] schwarz-e commented on #69
I used Martin's method to calculate the WSS at the faces on a more refined mesh- the mid-slice range is a lot better (only about 5%) but there is a large axial variation when it should be constant.

![image](https://user-images.githubusercontent.com/53580464/161333680-e0d65a6b-04f8-4ec4-9b9b-366a00596ee9.png)

![image](https://user-images.githubusercontent.com/53580464/161333726-c1468892-e821-4ad8

[2022-04-01 22:37] vvedula22 commented on #69
Axial variation is indeed strange. This didn't happen in your previous test case. Is there a chance for a bug in your element-based calculation around the inlet plane?

[2022-04-20 19:21] alexkaiser opened #71 "Name collision on README.md and Readme.md"
There are two files with names that collide on case insensitive filesystems (OSX), README.md and Readme.md. This creates problems as the repo locally cannot have the two files simultaneously and thus is never current. One should be removed or they should be merged.

[2022-04-29 00:20] ktbolt commented on #19
I've fixed a bunch of indexing problems, fixed a bug in the Array template, and added some code to write and compare Fortran and C++ arrays, lots of subtle issues with how certain variables are used to index and allocate arrays sizes.

The linear algebra code seems to be working ok, can get though the first inner loop solve for a CFD problem, the residual matches ok with the Fortran. The second in

[2022-04-30 05:35] ktbolt commented on #19
The C++ and Fortran inner loop results are now matching ok, fixed a bug indexing derivatives.

Each inner loop iteration takes `23s` for the Fortran code and `27s` for the C++ code. There is still a bit of overhead in the C++ code when reproducing Fortran code that passes a sub-array to a function. For example `fs(2).Nx(:,:,g)`
[code]

or if the sub-array is modified by the function like `u(:,:,1)

[2022-05-01 04:09] ktbolt commented on #19
I'm starting to convert the Fortran results output code. For example, the C++ average pressure

 **B_NS_Pressure_average_cpp.txt**
[code]
and the Fortran

**B_NS_Pressure_average.txt**
[code]

Btw, I am currently testing using the fluids-only `svFSI-Tests/04-fluid/01-pipe3D_RCR` test case, 170,694 elements, on a single processor.

[2022-05-01 14:27] CZHU20 commented on #70
Hi @aabrown100-git , the problem comes from incorrect bound check in volume integration function. A quick fix would be changing the input file to number your domain from 1, i.e. fluid domain id 1, solid domain id 2. For permanent fix, please check the code here:
https://github.com/CZHU20/svFSI/commit/8fdbd91bb57aab86974ae31b21ee7f2ba779a4ff
I will close the issue. Please feel free to reopen it if

[2022-05-01 14:27] #70 closed, assigned to nobody

[2022-05-04 04:56] ktbolt commented on #19
I've added methods to the `VtkData` class to write simulation results to VTK files to reproduce the functionality in the Fortran `WRITEVTUS` subroutine. Here is the C++ `VtkData` class interface together with the Fortran implementation
[code]

I'm not writing out simulation restart files from C++ yet, not sure what I want to do with that. Just writing out binary files would be the easiest thing to

[2022-05-08 03:32] ktbolt commented on #19
I've added some utilities to monitor C++ memory usage and to gather statistics for Array/Vector objects: how many objects have been constructed, how many are active (have not been deleted), and the total amount of memory the active objects are using.

The data from these utils showed me that memory was being leaked by Array/Vector templates, tracked it down to their Copy/Assignment operations and

[2022-05-10 01:03] ktbolt commented on #19
I've written a Python script to compare Fortran and C++ results written to VTK files, nice way to check results, and indeed found a problem with WSS and traction results, indexing bug of course.

I will next check computations using MPI.

[2022-05-25 04:50] aabrown100-git opened #72 "Couple struct/ustruct to LPN (for cardiac mechanics)"
I would like to couple struct/ustruct simulations of cardiac mechanics to a lumped parameter network (LPN) representing the circulatory system. I am imagining a feature similar to what is presented in this paper: https://onlinelibrary-wiley-com.stanford.idm.oclc.org/doi/full/10.1002/cnm.2842. This seems to be a common capability in the cardiac mechanics modeling community, so it would be great to

[2022-05-26 03:18] aabrown100-git commented on #72
Ultimately, I want to compute the velocity flux over this cap surface by integrating the velocity dotted with the normal vector over the surface. I think there will always be issues performing this integral when running in parallel. In parallel, the mesh is partitioned so that certain nodes are assigned to certain processors. Unfortunately, the cap mesh will in general contain triangles that conne

[2022-06-01 03:29] mrp089 opened #73 "Add automatic build testing"
As in https://github.com/SimVascular/svZeroDSolver/pull/64 and https://github.com/SimVascular/svOneDSolver/issues/86, add automatic build testing to svFSI using GitHub actions

[2022-06-06 16:49] aabrown100-git commented on #72
I have implemented a "virtual" face in svFSI. I am defining a virtual face as a face over which integrals (such as velocity flux) can be computed, but which otherwise has no effect on the simulation (i.e. this face cannot be loaded with pressure, traction, etc.). Using this virtual face, I was able to compute the velocity flux integral over the cap surface mentioned previously. As described above,

[2022-06-09 21:05] menon-karthik opened #75 "Perfusion model"
I am developing a model for the perfusion of blood within a tissue volume. The model is a single-compartment Darcy model, which can be converted into a Helmholtz equation.

Details of the model in this paper: Papamanolis, L., et al. (2021). Myocardial Perfusion Simulation for Coronary Artery Disease: A Coupled Patient-Specific Multiscale Model. Annals of Biomedical Engineering, 49(5), 1432–1447. h

[2022-06-28 17:31] saitoasukakawaii opened #76 "Compiled errors using intel compiler"
Dear all,
I use Intel oneAPI 2022.1.1 to compile svFSI with following command:
`cmake \
  -DCMAKE_C_COMPILER:PATH=/opt/intel/oneapi/compiler/2022.0.1/linux/bin/intel64/icc \
  -DCMAKE_CXX_COMPILER:PATH=/opt/intel/oneapi/compiler/2022.0.1/linux/bin/intel64/icpc \
  -DCMAKE_Fortran_COMPILER:PATH=/opt/intel/oneapi/compiler/2022.0.1/linux/bin/intel64/ifort \
  -DCMAKE_PREFIX_PATH:PATH=/home/tfblab/com

[2022-07-01 00:01] CZHU20 commented on #76
Based on the error message, it seems that `-mkl` is deprecated. In svFSI, this link information is provided here:
https://github.com/SimVascular/svFSI/blob/5e7f0854bd9a0c3088667076c76596bf49f0deec/Code/Source/svFSI/CMakeLists.txt#L214

Can you change it to `-qmkl` and report back if this solves your problem? Thanks.

[2022-07-01 02:35] saitoasukakawaii commented on #76
I change to -qmkl and same error happened, I think the error is caused by linking the static bundle packages (.a) of ”zlib;parmetis;metis“ in Third part directory. While the Trilinos package is dynamic (.so).

[2022-07-10 06:28] CZHU20 opened #77 "Fail to create result folder if verbose set to 0"
`verbose` parameter in the input file is set to control whether to print the simulation progress to screen and save it to file. However, if `verbose` is set to zero, the code will fail to create the folder where results will be saved, which in turn will cause the solver to crash.

[2022-07-10 06:41] CZHU20 commented on #77
The problem  is caused by the following lines
https://github.com/SimVascular/svFSI/blob/5e7f0854bd9a0c3088667076c76596bf49f0deec/Code/Source/svFSI/CHNL.f#L225-L233

If the user choose to omit the screen output and history file (both `chnl%oTS` and `chnl%oTF` are false), `SUBROUTINE CHNLOUTPUT` will exit early without creating the necessary folder. Move line 233 to `SUBROUTINE READFILES` solves the

[2022-07-15 02:04] CZHU20 opened #78 "Body force in CMM"
CMM implementation in svFSI is capable of handling body force. However, there is currently no way for users to supply that information through input file. Need to change READFILES.f to activate that capability.

[2022-07-15 02:09] CZHU20 commented on #77
This bug is fixed in new [commit](https://github.com/SimVascular/svFSI/commit/541b68a9f51838da35f093bb973355e571b11d70).

[2022-07-15 02:09] #77 closed, assigned to nobody

[2022-07-20 16:52] fppsvz opened #80 "Missing MPI error compiling svFSI with Trilinos"
Dear all,
I'm writing to ask for a little help as I'm trying to install svFSI on a HPC cluster but consistently fail while making svFSI.
In particular, I got prompted the following messages:
-- Could NOT find MPI_Fortran (missing: MPI_Fortran_WORKS)
-- Could NOT find MPI (missing: MPI_Fortran_FOUND) (found version "3.1")
which finally lead to:
" CMake Error: The following variables are used in thi

[2022-07-22 22:11] ktbolt opened #81 "Need to merge JOSS_paper into master"
@CZHU20 Why does the `JOSS_paper` branch and not the ` master` branch contain the latest code? We need to merge `JOSS_paper` into `master`.

[2022-07-24 11:12] CZHU20 commented on #81
Will do.

[2022-07-27 01:26] ktbolt opened #82 "Build svFSI on Windows"
It would be nice to enable svFSI to run on Windows. However, the makefiles in svFSI//BuildWithMake don't work. I will write some makefiles from scratch just to see if svFSI can be built.

[2022-07-27 08:14] vvedula22 commented on #82
@ktbolt We already have a make-based build system for svFSI. If you want, I can share that with you elsewhere and you can test it on Windows before you code a Makefile from scratch. Let me know.

[2022-07-27 23:08] ktbolt commented on #82
@vvedula22 I've already added the Makefiles but please send me your make-build system so I can have a look to see how you did it. Thanks!

[2022-07-28 04:19] ktbolt commented on #82
The Windows build is working, not too many changes

- Make some changes to the C and CPP code function names: capitalize and no _
- Change mkdir `-procs\` to` _procs\`

It took some time to figure how to use the Intel MKL LAPACK library, which libraries and compile flags so it wouldn't crash.

[2022-07-28 07:41] vvedula22 commented on #82
@ktbolt Here it is: https://www.dropbox.com/s/ykmtchzkr4382mo/svFSI_make.tar.xz?dl=0

[2022-07-29 19:23] schwarz-e opened #84 "Shape function error for quadratic hexahedral elements?"
I produced a cylinder out of quadratic hexahedral elements and attempted to run a simple inner wall pressure condition simulation. However, on the post-processing step it exits with a "ERROR: Error in computing shape functions" which appears to stem from the GETNNX subroutine.

Is there a way to work around this? Is this an issue with the simulation (appears to converge) or just the post-processin

[2022-07-29 20:32] vvedula22 commented on #84
@schwarz-e The mesh looks weird to me. It seems to have only 3 cells but the connectivity appears to have been messed up. How did you create the hex mesh? If you have a trilinear brick mesh, you can use the [mesh-converter](https://github.com/SimVascular/svFSI-Tools/tree/main/mesh_converter) tool to convert to either a 20-noded quadratic brick or a 27-noded triquadratic brick element.

[2022-07-29 21:23] schwarz-e commented on #84
I created it using a pyvista script, so it doesn't start as a trilinear brick mesh. It's a 20-noded quadratic brick. This example only has 3 cells (was testing a simple case). What's weird about the connectivity? I followed the numbering system outlined in the vtk documentation: https://raw.githubusercontent.com/Kitware/vtk-examples/gh-pages/src/Testing/Baseline/Cxx/GeometricObjects/TestIsoparamet

[2022-07-30 02:52] ktbolt commented on #82
The svFSI solver is can now be run from SV using MPI. However, the results are screwy, even the serial version, maybe LAPCK issue.

[2022-08-01 03:48] CZHU20 commented on #78
The new pull request #85 should solve this problem in CMM.

When CMM was first implemented, a deliberate choice is made to set solid density to zero during initilization.
https://github.com/SimVascular/svFSI/blob/ae5d81db24922c0d0dfda348afbe06341a1dd927/Code/Source/svFSI/READFILES.f#L705
This will kill any acceleration and body force effect during initialization. This constrain has been removed. A

[2022-08-01 08:14] fppsvz commented on #80
Nobody here with a clue of what can be the problem I'm facing? I tried with several versions of OpenMPI, MPICH, different versions of Trilinos: the error is perfectly replicated every time. It can be something I'm doing wrong as I'm not a huge IT expert... Nonetheless our research is stucked at the moment...

Cheers,
Filippo

[2022-08-01 19:25] schwarz-e commented on #84
Looking closer, it appears the calculated local coordinates calculated in GETXI via Newton iterations converges to a value that is not within the element bounds which causes this issue.

[2022-08-01 20:14] vvedula22 commented on #84
@schwarz-e Yes, that happens because you have a bent geometry around the edge nodes of the quadratic brick element. During post-processing, we project pressure field (and perhaps some other quantities) to trilinear basis and interpolate the solution at the edge nodes using trilinear basis functions. This is done to avoid a checkered/spotty field where you will see high values on the edge nodes com

[2022-08-01 20:17] vvedula22 commented on #80
The MPI not found can be due to multiple reasons although CMake only displays the final error that is usually not helpful. Did you look at the CMakeError.log and CMakeOutput.log file? You need to find the test code that failed during the build process. CMake usually creates these test codes on the fly. You may then look for the specific compiler flags that led to errors.

[2022-08-01 21:18] schwarz-e commented on #84
Yes, the reason is to best approximate curved reference geometry. In addition, it is part of my formulation where I apply calculated displacement solutions onto the mesh and then run that as the reference geometry in the next iteration, so even if mesh starts out as brick elements with nodes added to make it quadratic, it will eventually travel to become bent.

[2022-08-02 00:08] vvedula22 commented on #84
You can either refine the mesh and add more cells, or comment the section of the post-processing code (POST.f) that does the projection and interpolation steps on certain quantities like pressure, stresses, etc. Let me know if you run into any issue.

[2022-08-02 15:30] fppsvz commented on #80
Hi, thanks for reaching me out. Yes I checked the output and error logs in svFSI-build/CMakeFiles but it's not really helpful (to me at least). The error file complains about the Fortran sgemm, ending with something like:

CMakeFiles/cmTC_fea84.dir/testFortranCompiler.f.o: In function `main':
testFortranCompiler.f:(.text.startup+0x1b): undefined reference to `sgemm_'

Now, I understand that sgemm

[2022-08-09 02:03] schwarz-e commented on #84
I am also having issues with the GETNNX call in SETBC.f in the SETBCDIRWL. I found that using a weakly couple dirichlet boundary condition  was the best way to impose axially clamped (effective direction) motion at inlet faces. Is there a good workaround for this?

[2022-08-09 17:21] schwarz-e commented on #84
With Dirichlet BCs on the HEX20 faces, depending on if effective direction is applied the flow direction flips, and in strongly applied effective direction on the dirichlet face the flow profile does not remain parabolic and instead warps with the motion of the inlet face.

[2022-08-09 22:17] vvedula22 commented on #84
Are you doing a fluid or FSI simulation? Weakly coupled Dirichlet BCs are implemented for fluid domains only. May not work for solid domains or if you are running a pure solid mechanics simulation. The current implementation doesn't not handle virtual stress for hyperelastic materials. Might only work for small strain linear elastic materials.

Yes, it is not surprising. The derivatives are comput

[2022-08-09 22:27] vvedula22 commented on #84
The effective direction doesn't take the face normal into account. In a regular simulation (without effective direction), the sign of the flow is computed based on the sign of (u.n). The user should then provide a value that makes physical sense (negative value for inflow, positive value for outflow). On the other hand, if you use effective direction, the code doesn't use normal anymore. It simply

[2022-08-10 08:37] vvedula22 commented on #80
Do you mind sharing your CMakeOutput.log and CMakeError.log files somewhere?  What module environment do you have on your cluster?

[2022-08-19 00:08] aabrown100-git commented on #72
I decided to keep the virtual/cap face implementation as is. In this implementation, the user creates a surface mesh closing the desired surface. This surface mesh (let's call it the "cap" mesh) must contain nodes only on its boundary. This way, every node on the cap mesh also exists on the true surface mesh of the model (e.g. on the surface of the idealized LV), so the velocity at every node on t

[2022-08-25 04:34] ktbolt commented on #19
I've been looking at the differences in the C++ and Fortran results for the data created in the `fft` function on MacOS and Ubuntu. The data on Ubuntu matches better but is still not exact.

I've also started testing the C++ MPI version on Ubuntu, crashes because of memory corruption somewhere, suspecting a problem with the C++ `bcast` functions.

[2022-08-26 03:20] ktbolt commented on #19
The C++ crash was caused by using an `MPI_LOGICAL` data type to `MPI_Bcast`  a bool value. Changing the data type to `MPI_CXX_BOOL` fixes that problem.

Now I am getting a `stack smashing detected error`. Cool, I've never got one of those before!

[2022-08-26 03:59] ktbolt commented on #19
I fixed the `stack smashing detected error`, wasn't returning a value from a function.

Now the nonlinear solve is not working, same on MacOS.

[2022-08-31 05:24] ktbolt commented on #19
I got the C++ MPI version working now, a misunderstanding of a Fortran recursive function and a flaw in my otherwise undeniable logic.

Writing results to VTK format files does not work, something wrong with merging data from the different processors, lots of array offsets with 's', 'e' and 'l', unclear sometimes what variables are used for, counters or indexes into arrays.

There is also a lot of

[2022-08-31 22:49] ktbolt commented on #19
I've fixed the problem when writing VTK files, some subtle indexing problems and a mistype that took me a very long time to find: `for (int e = 0; e < lM.nEl; e++)` should have been `for (int e = 0; e < lM.gnEl; e++)`, both are defined for `lM`. The perils of short variable names!

I've tested with four processors for 10 time steps, execution times are similar
[code]

Results match within 1e-11.

[2022-09-01 20:04] ktbolt commented on #19
I've built and run the C++ version on Ubuntu 20, runs fine, results match.

Memory usage is similar except for the master process, seems to be a memory leak when writing VTK files.

[2022-09-01 21:18] ktbolt commented on #19
I fixed the memory leak, wasn't freeing the `VtkData` writer used to write simulation results.

I'll now convert code for the `nonlinear elastodynamics equation`.

[2022-09-06 20:20] aabrown100-git opened #86 "Use mesh scale factor for all outputs with length dimension"
It appears that when a mesh scale factor is used (for example to convert a mesh in micron units to meters), the geometry (nodal positions) and the displacements are scaled back to microns when a result.vtu file is written. However, acceleration and velocity are not scaled back, but retain meters as their unit of length. I'm not sure if this was intentional, but in my opinion this is inconsistent a

[2022-09-08 17:43] mrolfpissarczyk opened #87 "Add material model - Modeling of non-symmetric fiber dispersion using the isoparametric discrete fiber dispersion (DFD) method"
**References:**
https://doi.org/10.1016/j.cma.2020.113511
https://doi.org/10.1098/rspa.2021.0592

and

https://doi.org/10.1098/rsif.2017.0766

**Short description:**
Collagen fibers in soft biological tissues provide the overall stiffness and strength of the material. The latest imaging techniques, such as second-harmonic generation, have enabled detailed visualization of the underlying microscopi

[2022-09-09 03:18] ktbolt commented on #19
I've converted the `nonlinear elastodynamics equation` code
[code]

I fixed several indexing problems, a misplaced `!` and some bugs in shape function code.

The C++ code is reproducing the Fortran results for `svFSI-Tests/05-struct/01-block-compression`. However, the C++ code is about twice as slow. Profiling reveals that functions dealing with sparse array operations are taking much more time in

[2022-09-12 18:26] ktbolt commented on #19
The simulation was crashing on Ubuntu when writing results, another indexing problem.

Running using MPI fails, seems to be a problem computing the elements IDs assigned to each processor.

[2022-09-13 02:46] ktbolt commented on #19
Running with MPI now works, bug in how elements were being allocated to processors.

I also ran into the use of zero-length arrays again. There was something troubling me about using arrays that have zero size, but I forget what that was right now ...

[2022-09-13 19:01] ktbolt commented on #19
I'm now converting the Fortran code for  the `fsi` and `mesh` equations.

[2022-09-14 05:03] ktbolt commented on #19
I've added the following new functions
[code]

and fixed a couple of bugs.

The FSI simulation runs but the residuals for the `mesh` equation are wrong, think coupling is not working.

[2022-09-14 14:26] vvedula22 commented on #86
@aabrown100-git Mesh scale factor need not always be used for unit conversion but sometimes could be used for pure geometric scaling. In that case, the user may not want to scale all the post-processing quantities. Ultimately, it is the user's responsibility to use a consistent unit system for the problem (mesh, equation parameters, etc.).

We rescale the mesh back to the original dimensions in th

[2022-09-20 20:47] ktbolt commented on #19
The FSI simulation results for `svFSI-Tests/07-fsi/ale/03-pipe_3D` are now matching.

[2022-09-23 06:29] ktbolt commented on #19
The MPI FSI simulation was failing, wasn't setting a global variable in a function that was used in a function it called.

There were some problems with writing results to VTK files. There was an indexing problem of course but more confusing was the Fortran code using the number of rows or columns of 0-size arrays to allocate other arrays. With shaking hands I added support for 0-size arrays to th

[2022-09-23 18:43] aabrown100-git opened #88 "Consistently evaluate Neumann BC in generalized-alpha method"
As I understand the generalized-alpha method (see [Chung and Hulbert, 1993](https://asmedigitalcollection-asme-org.stanford.idm.oclc.org/appliedmechanics/article/60/2/371/423023/A-Time-Integration-Algorithm-for-Structural?casa_token=N8qZWRLgHWQAAAAA:730UFTlQVhzu7-wJhWYNaTMAcwlmlBKeRJNVJYa1NJkIvbGitAA0m_32zAJCgbL--xR2PiM)) if we have, for example, a time-dependent pressure boundary condition, then

[2022-09-24 09:54] vvedula22 commented on #88
Yes, the paper states that the applied load should be at $n+\alpha_f$ but we compute the load at $n+1$. This variant is shown in [Bazilevs et al. (2008)](https://link.springer.com/article/10.1007/s00466-008-0315-x) where even the pressure as a state variable is evaluated at $n+1$.

I don't think this makes a noticeable difference in the solution or convergence as the applied load is not a function

[2022-09-26 05:14] aabrown100-git commented on #88
Thanks for that paper! I see that pressure as a state variable for the fluid system is evaluated at $n+1$ (eqs. 156-158), but it doesn't seem say when the value of the Neumann BC (like an applied surface pressure) for the solid system should be evaluated. These are two different quantities, right?

I agree that it probably won't make much of a difference. I'm thinking that if this really is an err

[2022-09-28 05:05] ktbolt commented on #19
I've added code for `QUAD9` elements and higher-order elements in general, fixed some problems in shape function derivatives, added code for `2D FSI simulations`
[code]
had some trouble finding a **0** impersonating a **1**, an array in the wrong scope, etc.

The `02-channel-block-flag_2D` problem results match Fortran results for both serial and MPI runs.

[2022-09-29 18:38] ktbolt opened #90 "The solver input Remesher command does not parse correctly"
The solver input file `Remesher` command does not parse correctly. For  example
[code]
fails with `ERROR: Near LINE 130 at <Remesher: Tetgen>, searched COMMAND <Max edge size> :: Command not found
`.

The problem is in the `READRMSH` subroutine where the code is trying parse the `Remesher` command mesh name using
[code]
this should be
[code]

@vvedula22 This is such a basic bug so I am wondering i

[2022-09-29 20:49] ktbolt commented on #19
I am now testing `04-pipe_prestress/02-deform-ale/02.2-fsi-ALE `, needed to add `zero_init()` and fix some problems with reading/processing prestress data.

The serial and MPI C++ and Fortran results match.

[2022-09-30 02:35] ktbolt commented on #19
I've tested `04-pipe_prestress/02-deform-ale/02.1-prestress`, only a couple of bugs processing prestress flag and indexing when running with MPI.

Results match for serial and MPI runs.

[2022-09-30 03:26] ktbolt commented on #19
I've tested `07-fsi/ale/01-channel-leaflets_2D` and results match.

[2022-09-30 12:29] vvedula22 commented on #90
@ktbolt Are you using an older version of the code? The latest code uses the above format where users are allowed to remesh multiple meshes if needed. It seems to be working for others too. See this [post](https://simtk.org/plugins/phpBB/viewtopicPhpbb.php?f=188&t=15063&p=0&start=0&view=&sid=749693d9385aa2bb431079a39d6f7b37)

I have used remesher for ventricular blood flow simulations, however, th

[2022-09-30 18:11] ktbolt commented on #90
@vvedula22 Looking at your reply to the post I now understand that the `Remesher` command needs two `Max edge size` commands because there are two domains defined for the `equaition`. Thanks for straightening me out!

[2022-09-30 18:11] #90 closed, assigned to ktbolt

[2022-10-02 02:48] ktbolt commented on #19
I'm now converting the remaining electrophysiology code, added functions
[code]
had problems with the number of gating variables `nG`, which is zero for most electrophysiology models, being used to allocate  0-sized arrays.

I've tested `08-cep/01-2Dsqr_AP`: the serial and MPI simulation results match the Fortran results.

[2022-10-04 00:10] #86 closed, assigned to nobody

[2022-10-04 00:56] aabrown100-git opened #91 "Results differ with number of processors used and on different machines"
I've found that simulation results are different when using different number of processors. This occurs on my personal computer, as well as on Sherlock (a Stanford computing cluster). Moreover, for the same number of processors, the results are different between my personal computer and Sherlock. The difference is small, but definitely different. The difference seems to be greatest in the beginnin

[2022-10-04 01:14] aabrown100-git commented on #88
Adding a relevant recent paper [A note on the accuracy of the generalized- scheme for the incompressible Navier-Stokes equations](https://onlinelibrary-wiley-com.stanford.idm.oclc.org/doi/full/10.1002/nme.6550). This paper discusses whether to use $p_{n+1}$ or $p_{n+\alpha_f}$ in the NS residual, and also whether to evaluate the Neumann BC at $t_{n+1}$ or $t_{n+\alpha_f}$. See in particular the in

[2022-10-04 08:03] vvedula22 commented on #88
@aabrown100-git Earlier our pressure integration was based on the Bazilevs 2008 paper which is different from Scheme 1 but I changed it to Scheme 2 later. Reg. the pressure boundary condition, let us change it to evaluate it at $n+\alpha_f$.

[2022-10-04 09:01] vvedula22 commented on #91
Yes, the differences are usually very small and if you were to run longer you will see the differences to be even smaller - identical for some time steps in many cases. Differences arise due to ParMetis division but primarily from the iterative linear solver that solves over local domains belonging to that process. Differences on different machines could be due to the different compiler environmen

[2022-10-04 20:57] ktbolt commented on #19
I've tested `08-cep/02-1Dcable_tTP`, fixed a couple of incorrectly translated statements like this
[code]
and the tricky usage of the variable `i` not as an index but as an implicitly defined myocardium zone id.

The C++ serial and MPI simulation results match the Fortran results.

[2022-10-05 03:58] ktbolt commented on #19
I've tested `08-cep/03-benchmark_tTP`, fixed a bug reading anisotropic conductivity parameters, added the `cep_3d()` function.

The C++ serial and MPI simulation results match the Fortran results.

[2022-10-05 19:57] ktbolt commented on #19
I've tested `08-cep/04-2Dspiral_BO`, needed to fix usage of the myocardium zone id.

The C++ serial and MPI simulation results match the Fortran results.

[2022-10-06 00:09] ktbolt commented on #19
I've tested `08-cep/05-Purkinje`, fixed an indexing bug and added a check for sending zero communication requests, Fortran allocates arrays of size `-214748364` and then does nothing (I think).

The C++ serial and MPI simulation results match the Fortran results.

[2022-10-06 02:01] ktbolt commented on #19
I've now tested `01-heat/01-diffusion-line-source`, added `construct_heats()`, `heats_2d()` and `heats_3d()` functions.

The C++ serial and MPI simulation results match the Fortran results for this 2D case.

[2022-10-08 04:36] ktbolt commented on #19
I've converted code for the `stokes` equation, added functions
[code]
and fixed a couple of bugs in body force BCs. I also coded yet another hack to get around the use of 0-size arrays.

I tested `03-stokes/01-manufactured-solution/P1P1/N004`, serial and MPI simulation results match the Fortran.

[2022-10-11 08:46] alisonmarsden commented on #88
Adding my two cents here, Ingrid and Ju’s paper demonstrates a nice increase in accuracy in their paper (the one that Aaron linked to) and I think it would be great to update svFSI to use this method – this could also be done after the C++ conversion, and could be provided as an option to the user.

From: Vijay Vedula ***@***.***>
Date: Tuesday, October 4, 2022 at 10:03 AM
To: SimVascular/svFSI **

[2022-10-11 20:30] ktbolt commented on #19
I've tested `03-stokes/01-manufactured-solution/P2P1/N004`, fixed lots of problems using the `Taylor-Hood` formulation, error prone using `1` and `2` to access the different function spaces, finished `TRI6` implementation.

The serial and MPI simulation results match the Fortran results.

I also fixed some bugs when using Trilinos, had to also rebuild it and reinstall some packages on MacOS.

[2022-10-13 02:54] ktbolt commented on #19
I've finished converting code for higher-order elements: hex20, hex27, quad8, quad9, tet10, tri6. Whew!

I've also added `construct_l_elas()` to finish the linear elasticity equation and have tested `02-lelas/01-beam_Euler-Bernoulli`
[code]

The serial and MPI simulation results match the Fortran results for all of these guys.

[2022-10-13 18:15] andre-mourato-61459 commented on #42
Hello! I'm having troubles correctly creating the ebc files. Do you know if there is any example i can follow? I've search for it but i wasn't able to find any

[2022-10-14 21:08] ktbolt commented on #19
I've converter the `cmm` eq, added functions
[code]

I've tested `07-fsi/cmm/01-pipe_RCR/02-deform-wall_inflate/02-CMM-inflate`, C++ and Fortran results match for both serial and MPI simulations.

[2022-10-17 02:32] aabrown100-git commented on #88
In terms of implementation in svFSI, I see two options. Denoting the Neumann BC value $\mathbf{h}(t)$, we can

1) Evaluate $\mathbf{h}(t_{n+\alpha_f})$ and use that value when constructing the residual
2) Evaluate $\mathbf{h}(t_{n})$ and $\mathbf{h}(t_{n+1})$ and interpolate between these value to get $\mathbf{h}(t_{n+\alpha_f})$, then construct the residual

I'm not sure if there is any meaningfu

[2022-10-17 02:39] ktbolt commented on #19
I've converted the `ustruct` equation, added functions
[code]

I've tested `06-ustruct/01-block-compression/P1P1_VMS/h320MPa_nu0.4999999/N032`,  C++ and Fortran results match for both serial and MPI simulations.

[2022-10-19 20:05] ktbolt commented on #19
I've now tested
[code]
found a bug in TET20 shape functions.

Serial results MPI match.

[2022-10-21 03:16] ktbolt commented on #19
I've added the `heatf` equation, added functions
[code]

I've now tested `04-fluid/02-dye_AD`, results match Fortran.

[2022-10-24 23:30] ktbolt commented on #19
I've added `precond_rcs()`, a bit involved reproducing Fortran intrinsics like
[code]
reproduced in C++ by adding an `Array<T>::get_values` method to get a range of rows/column values and using the lambda function `max_func`
[code]

I've also added several `Array<T>` operators (e.g. `sqrt`) to reproduce Fortran array operations so the C++ looks the same as the Fortran
[code]

I've tested `04-fluid

[2022-10-25 03:48] ktbolt commented on #19
I've now tested `04-fluid/07-cyl2D-weak-DirBC`, like 1000 mistakes in bw_fluid_2d(), must have converted it on a Monday.  Serial and MPI results match Fortran.

I've also tested `04-fluid/03-driven-cavity-2D/Re1000/N64_nonunif` and `04-fluid/05-nonNewtonian`, fixed some problems setting viscosity  type. Serial and MPI results match Fortran.

[2022-10-25 19:23] ktbolt commented on #19
I've tested `04-fluid/04-closed-loop`, parses the`Couple_to_cplBC` section parameters correctly and calls the `set_bc::cplBC_Integ_X` function to interface to the 0D solver.

The the`Couple_to_cplBC` section parameters look like this
[code]

We can probably remove most of these parameters, need the path to the 0D solver shared library and the JSON file, would be good to not have to specify `<Numbe

[2022-10-27 01:43] ktbolt commented on #19
I've added writing/reading binary restart files and initialization from vtu and restart binary files. The restart binary file format is the same as the Fortran format.

I also fixed a problem with not writing the last time step to a vtk file, issues trying to reproduce Fortran code that uses 0-size arrays.

[2022-10-27 04:19] ktbolt commented on #19
The last big task is to convert code for `remeshing`. This is going to be a lot of work, lots of `IF (ALLOCATED(colPtr))   DEALLOCATE(colPtr)` kind of thing going on, interpolation, reading TetGen files, etc.

I will also need to restructure the C++ code a bit to loop over the initialization code, Fortran just does a `goto`.

[2022-10-27 20:53] vvedula22 commented on #19
@ktbolt The remeshing algorithm needs to be updated on the Fortran side too. I wrote this code during my earliest days as a postdoc and was still learning the code then. This part of the code is not optimized and I think the remeshing followed by projection could be better handled. Would it be possible for you to come back to this in a month or so, ideally in Dec?

[2022-10-27 22:36] ktbolt commented on #19
@vvedula22 I think it is fine for me to come back to this in Dec or even next year. I want to go through the code and determine if there are sections that have not been tested and increase the C++ solver performance.

[2022-10-27 23:44] vvedula22 commented on #19
Sounds good.

[2022-11-01 05:44] ktbolt commented on #19
I've been reviewing `svFSI-Test` simulation results and have found some incomplete tests.

The `05-struct/02-LV-Guccione-passive` test was producing NaNs, fixed a couple of bugs in the `Guccione` material model, results now look ok.

Ran the `07-fsi/ale/01-channel-leaflets_2D` test using MPI, results match.

[2022-11-02 19:37] ktbolt commented on #19
I found some problems testing `07-fsi/cmm/01-pipe_RCR/02-deform-wall_inflate/01-inflate`
[code]

Serial and MPI results match.

[2022-11-03 06:20] ktbolt commented on #19
I've fixed a bug in the code that computes divergence for output, can now write out `Divergence`
[code]
The `Divergence` values do differ by a few percent from Fortran. The intermediate arrays in the divergence computation agree to around 1e-14 but then these values, of order 1e-17 are, divided by each other and the differences are magnified.

[2022-11-04 02:35] ktbolt commented on #19
Computing `wss` and `vorticity` results were giving NaNs, fixed a couple of bugs in post() and get_viscosity(), those results now look good.

[2022-11-09 23:42] ktbolt commented on #19
I started testing with `Trilinos` again, had to rebuild on Mac and fool around with mumps.

I added `init_dir_and_coup_neu()` and fixed some problems calling `trilinos_linear_solver` functions which are implemented to be called from Fortran. I also fixed `trilinos_lhs_create()` so it can be used with C++ 0-based indexing.

I tested `06-ustruct/03-LV-Guccione-active` using the `Trilinos-ILUT` preco

[2022-11-15 02:57] ktbolt commented on #19
I've added missing C++ xml files and ran simulations for a bunch of different mesh/element tests under
[code]
actually found a new indexing bug doing this.

I've now run and compared simulation, serial and mpi, for all 68 tests (excluding shells). All results look good.

I will now look at code coverage, maybe use `gcov` to do this, maybe just compare what's in `svFSI_master.inp` to the test .inp

[2022-11-15 03:09] alisonmarsden commented on #19
I think you can also test code coverage with GitHub actions. Jakob implemented this recently (for a smaller scope project) and it’s summarized in the slides Martin sent out.  Not sure if this applies here, but mentioning just in case!

From: Dave Parker ***@***.***>
Date: Monday, November 14, 2022 at 6:58 PM
To: SimVascular/svFSI ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [SimVascular/s

[2022-11-19 02:38] ktbolt commented on #19
I've re-implemented parts of the `svFSI XML file` parsing code, now much cleaner and easier to add new parameters, better error checking, and the code is 1000 lines smaller.

[2022-11-25 09:38] #81 closed, assigned to CZHU20

[2022-11-27 03:51] ktbolt commented on #19
I've finished filling in a bunch of holes in the new `svFSI XML file` parsing code and integrated it into the svFSI code. I then re-ran all of the tests and checked results to make sure the new parser is getting all the parameters correctly, fixed a few problems, now all the tests  look good.